<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div class="flex justify-center items-start w-full">
    <app-title [title]="'RGAS-1'" class="w-full"></app-title>
  </div>
  <div fxFlex="95" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">

      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="center center" class="mr-2">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Search Option</mat-label>
          <mat-select [(ngModel)]="filterSelected">
            <mat-option *ngFor="let item of filterOption" [value]="item">
              <span class="capitalize text-sm">
                {{item}}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="center center" class="mr-4">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Search Value</mat-label>
          <input matInput [(ngModel)]="fillSearch" (keydown.enter)="onSearchSubmit()">
          <button matSuffix mat-icon-button (click)="onSearchSubmit()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="auto"></div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <button mat-raised-button class="btn-success" (click)="onClickNew()">
          <mat-icon class="mat-18">add_circle</mat-icon>
          New
        </button>
      </div>

    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
      <!-- <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field> -->

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mat-elevation-z8 overflow-auto">
        <table fxFlex="100" mat-table [dataSource]="dataSource" matSort>


          <ng-container matColumnDef="registerNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> registerNo </th>
            <td mat-cell *matCellDef="let row">
              <span class="text-link" (click)="onClickClaim(row)">
                {{row.registerNo}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> no </th>
            <td mat-cell *matCellDef="let row"> {{row.no}} </td>
          </ng-container>

          <ng-container matColumnDef="claimStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> claimStatus </th>
            <td mat-cell *matCellDef="let row" class="font-bold capitalize"> {{row.claimStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="PIC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> PIC </th>
            <td mat-cell *matCellDef="let row"> {{row.PIC}} </td>
          </ng-container>

          <ng-container matColumnDef="claimMonth">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> claimMonth </th>
            <td mat-cell *matCellDef="let row"> {{row.claimMonth}} </td>
          </ng-container>

          <ng-container matColumnDef="claimNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> claimNo </th>
            <td mat-cell *matCellDef="let row"> {{row.claimNo}} </td>
          </ng-container>

          <ng-container matColumnDef="modelNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> modelNo </th>
            <td mat-cell *matCellDef="let row"> {{row.modelNo}} </td>
          </ng-container>

          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> customerName </th>
            <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
          </ng-container>

          <ng-container matColumnDef="occurredLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> occurredLocation </th>
            <td mat-cell *matCellDef="let row"> {{row.occurredLocation}} </td>
          </ng-container>

          <ng-container matColumnDef="defect">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> defect </th>
            <td mat-cell *matCellDef="let row"> {{row.defect}} </td>
          </ng-container>

          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> qty </th>
            <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
          </ng-container>

          <ng-container matColumnDef="lotNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> lotNo </th>
            <td mat-cell *matCellDef="let row"> {{row.lotNo}} </td>
          </ng-container>

          <ng-container matColumnDef="judgment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> judgment </th>
            <td mat-cell *matCellDef="let row"> {{row.judgment}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter ""
            </td>
          </tr>
        </table>

      </div>
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mat-elevation-z8 overflow-auto">
        <mat-paginator fxFlex="100" [pageSizeOptions]="[ 10, 25,50, 100,dataSource.filteredData.length]"
          aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
