<div fxLayout="row wrap" fxLayoutAlign="center start" style="margin-bottom: 10rem;">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <app-title fxFlex="100" [title]="'RGAS-2'"></app-title>
  </div>
  <ng-container *ngIf="show">
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form1-view [form]="form"></app-form1-view>
    </div>
    <div *ngIf="form2" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form2-view fxFlex="100" [form2]="form2"></app-form2-view>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form3 fxFlex="100" [(form)]="form3" (approveChange)="approveChange($event)"
        (approveArrChange)="approveArrChange($event)"></app-form3>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form4 fxFlex="100" [(form4)]="form4" (form4Change)="form4Change($event)"></app-form4>
    </div>

  </ng-container>
  <ng-container *ngIf="!show">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
      <mat-progress-bar fxFlex="100" mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-container>
</div>
