<div class="flex flex-wrap justify-center items-start w-full mt-1">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <app-sub-title fxFlex="100" [title]="'Claim Information'" class="mt-2 mb-2"></app-sub-title>

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="30">
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="text-red-500">Claim Notification No.</mat-label>
            <input matInput [(ngModel)]="form.claimNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">KTC Model No.</mat-label>
            <input matInput [(ngModel)]="form.modelNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Product No.</mat-label>
            <input matInput [(ngModel)]="form.productNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Model PNL</mat-label>
            <input matInput [(ngModel)]="form.modelNoPNL">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Model SMT</mat-label>
            <input matInput [(ngModel)]="form.modelNoSMT" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md="30"></div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Customer Control No.</mat-label>
            <input matInput [(ngModel)]="form.customerNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <app-autocomplete *ngIf="modelOptionString.length>0 && showModelCode " fxFlex="100" [title]="'KTC Model Code'"
            [options]="modelOptionString" [(value)]="form.modelCode"
            (valueChange)="onChangeModelCode($event);emitSaveStatus()"></app-autocomplete>

        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Analysis PIC</mat-label>
            <mat-select [(ngModel)]="form.analysisPIC" [compareWith]="objectComparisonFunction"
              (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let user of analysisPICOption" [value]="user">
                {{user.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Customer Name Customer B Name</mat-label>
            <input matInput [(ngModel)]="form.customerName" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <app-autocomplete *ngIf="typeOptionString.length>0" fxFlex="100" [title]="'Internal Customer'" [options]="typeOptionString"
            [(value)]="form.type" (valueChange)="emitSaveStatus()"></app-autocomplete>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Description (Japanese)</mat-label>
            <input matInput [(ngModel)]="form.descriptionJP" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Sales Company Customer A Name</mat-label>
            <input matInput [(ngModel)]="form.saleCompany" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Side No.</mat-label>
            <input matInput [(ngModel)]="form.sideNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Description (English)</mat-label>
            <input matInput [(ngModel)]="form.descriptionENG" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Sales PIC</mat-label>
            <input matInput [(ngModel)]="form.salePIC" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Q'ty</mat-label>
            <input matInput type="number" [min]="1" [(ngModel)]="form.qty" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Function/ Appearance</mat-label>
            <mat-select [(ngModel)]="form.functionAppearance" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of functionAppearanceOptionString" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Returning Style</mat-label>
            <mat-select [(ngModel)]="form.returnStyle" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of returningStyleOption" [value]="item.itemValue">
                {{item.itemName}} : {{item.itemValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Product Lot No.</mat-label>
            <input matInput [(ngModel)]="form.productLotNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">AWB No.</mat-label>
            <input matInput [(ngModel)]="form.AWBNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Model Classification</mat-label>
            <mat-select [(ngModel)]="form.modelClassification" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of modelClassificationOption" [value]="item.itemValue">
                {{item.itemName}} : {{item.itemValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <app-year-month fxFlex="100" [title]="'Production Month'" [(dateInput)]="form.productionMonth"
            (dateInputChange)="emitSaveStatus()"></app-year-month>
        </div>


        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Inv. No.</mat-label>
            <input matInput [(ngModel)]="form.InvNo" (change)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <app-year-month fxFlex="100" [title]="'Calendar Year'" [(dateInput)]="form.calendarYear"
            (dateInputChange)="emitSaveStatus()"></app-year-month>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Serial Lot No</mat-label>
            <input matInput [(ngModel)]="form.serialLotNo" (blur)="emitSaveStatus()">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Commercial Distribution</mat-label>
            <mat-select [(ngModel)]="form.commercialDistribution" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of commercialDistributionOption" [value]="item.itemValue">
                {{item.itemName}} : {{item.itemValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Date Received Inv.</mat-label>
            <input matInput [(ngModel)]="form.dateReceiveInv" [matDatepicker]="dateReceive_dp"
              (ngModelChange)="emitSaveStatus()">
            <mat-datepicker-toggle matSuffix [for]="dateReceive_dp"></mat-datepicker-toggle>
            <mat-datepicker #dateReceive_dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Claim Registering Date</mat-label>
            <input matInput [(ngModel)]="form.claimRegisterDate" [matDatepicker]="claimRegister_dp"
              (ngModelChange)="emitSaveStatus()">
            <mat-datepicker-toggle matSuffix [for]="claimRegister_dp"></mat-datepicker-toggle>
            <mat-datepicker #claimRegister_dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Use Appearancelication</mat-label>
            <mat-select [(ngModel)]="form.useAppearance" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of useAppearancelicationOption" [value]="item.itemValue">
                {{item.itemName}} : {{item.itemValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" fxFlex.gt-md="70" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Product Cost</mat-label>
            <input matInput type="number" [min]="0" [(ngModel)]="form.productCost" (change)="emitSaveStatus()">
          </mat-form-field>
          <mat-form-field fxFlex="100" fxFlex.gt-md="30" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Unit</mat-label>
            <mat-select [(ngModel)]="form.productCostUnit" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of currencyOption" [value]="item.itemValue">
                {{item.itemName}} : {{item.itemValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Received Information Date ( E-Form OBL III )</mat-label>
            <input matInput [(ngModel)]="form.receiveInfoDate" [matDatepicker]="receiveInfo_dp"
              (ngModelChange)="emitSaveStatus()">
            <mat-datepicker-toggle matSuffix [for]="receiveInfo_dp"></mat-datepicker-toggle>
            <mat-datepicker #receiveInfo_dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Occurred Location</mat-label>
            <mat-select [(ngModel)]="form.occurredLocation" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of occurredLocationOption" [value]="item.itemValue">
                {{item.itemName}} : {{item.itemValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" fxFlex.gt-md="70" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Transportation Cost</mat-label>
            <input matInput type="number" [min]="0" [(ngModel)]="form.transportationCost" (change)="emitSaveStatus()">
          </mat-form-field>
          <mat-form-field fxFlex="100" fxFlex.gt-md="30" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Unit</mat-label>
            <mat-select [(ngModel)]="form.unit" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of currencyOption" [value]="item.itemValue">
                {{item.itemName}} : {{item.itemValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Importance (Claim Rank)</mat-label>
            <mat-select [(ngModel)]="form.importance" (ngModelChange)="emitSaveStatus()">
              <mat-option *ngFor="let item of claimRankOptionString" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Due Date (OBL III)</mat-label>
            <input matInput [(ngModel)]="form.dueDate" [matDatepicker]="dueDate_dp" (ngModelChange)="emitSaveStatus()">
            <mat-datepicker-toggle matSuffix [for]="dueDate_dp"></mat-datepicker-toggle>
            <mat-datepicker #dueDate_dp></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <app-year-month fxFlex="100" [title]="'Cost Month'" [(dateInput)]="form.costMonth"
            (dateInputChange)="emitSaveStatus()"></app-year-month>
        </div>

        <div fxFlex.gt-md="30"></div>
        <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10">
          <button [disabled]="!form.registerNo " fxFlex="100" fxFlex.gt-md="30" mat-raised-button color="accent"
            (click)="informationFile.click()" class="btn-file btn-radius">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <span>
                Files
              </span>
              <mat-icon>file_upload</mat-icon>
            </div>
            <input type="file" hidden #informationFile (change)="onUploadFileClaimInformation($event);">
          </button>
          <button [disabled]="!form.files || form.files?.length==0 " fxFlex="100" fxFlex.gt-md="30" mat-raised-button
            (click)="openBottom()" class="btn-file btn-radius" [ngClass.gt-md]="'m-btn-l'">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
              <span>
                View
              </span>
              <mat-icon [matBadge]="controlBadgeNumber(form.files)" matBadgeColor="warn">attach_file</mat-icon>
            </div>
          </button>
        </div>



      </div>


    </div>

  </div>
</div>
