<div fxLayout="row wrap" fxLayoutAlign="center center">
  <app-title fxFlex="100" [title]="'Report Approve'"></app-title>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
    <button mat-raised-button color="primary" (click)="onBack()">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5">
        <mat-icon class="mat-18">
          arrow_back_ios
        </mat-icon>
        <span>
          Back
        </span>
      </div>
    </button>
  </div>
  <div *ngIf="report" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5" class="mt-8">

    <app-sub-title fxFlex="100" [title]="'Flow'"></app-sub-title>
    <ng-container *ngFor="let item of reportInput.flow; let i=index">
      <div fxFlex="20" fxLayout="row wrap" fxLayoutAlign="center stretch" [class]="cssFlow(item?.name)">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" class="mb-2" >
          <mat-icon class="mat-18" style="width: auto; height: auto; font-size: 5rem;">account_circle</mat-icon>
        </div>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" class="mb-2">
          <span class="uppercase font-bold" style="font-size: 20px; letter-spacing: 2px;">
            {{item?.name}}
          </span>
        </div>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" class="mb-2">
          <span class="font-semibold">
            {{displayName(item.PIC)}}
          </span>
        </div>
        <div *ngIf="item.name==report.status" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
          <span class="capitalize">
            {{displayNames(report.PIC)}}
          </span>
        </div>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
          <span style="font-size: 12px;">
            {{item.date| date:'dd-MMM-YYYY, HH:mm'}}
          </span>
        </div>
      </div>
      <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-divider *ngIf="i+1 !=report.flow.length " fxFlex="auto" class="line-step"></mat-divider>
        <mat-icon *ngIf="i+1 !=report.flow.length " class="mat-18">navigate_next</mat-icon>
      </div>
    </ng-container>

    <!-- <ng-container *ngFor="let item of report.flow; let i=index">
      <mat-card fxFlex="20" fxLayout="row wrap" fxLayoutAlign="center stretch" class="card-step mb-4"
        style=" height: 200px;" [class]="cssFlow(item?.name)">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
          <span class="font-bold capitalize">
            {{item?.name}}
          </span>
        </div>
        <div *ngIf="item.name!=report.status" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
          <span class="capitalize">
            {{displayName(item.PIC)}}
          </span>
        </div>
        <div *ngIf="item.name==report.status" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
          <span class="capitalize">
            {{displayNames(report.PIC)}}
          </span>
        </div>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center stretch">
          <span class="capitalize">
            {{item.date| date:'dd-MMM-YYYY, HH:mm'}}
          </span>
        </div>
      </mat-card>
      <mat-divider *ngIf="i+1 !=report.flow.length " fxFlex="auto" class="line-step"></mat-divider>
    </ng-container> -->

  </div>

</div>
