<div fxLayout="row wrap" fxLayoutAlign="center start" style="margin-bottom: 10rem;">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <app-title fxFlex="100" [title]="'RGAS-2'"></app-title>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">

    <span class="cursor-pointer me-2" *ngFor="let item of allItems; let i=index">
      <span [class]="cssCurrentItem(item.no)">
        {{item.no}}
      </span>
    </span>

  </div>
  <ng-container>
    <div *ngIf="allItems && allItems.length>0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form1 fxFlex="100" [(form)]="currentItem" (formChange)="formChange()"></app-form1>
    </div>
  </ng-container>

</div>
