<mat-form-field *ngIf="date != null " fxFlex="100" appearance="outline" floatLabel="always">
  <mat-label class="mat-label-custom">{{title}}</mat-label>
  <input matInput [(ngModel)]="date" [matDatepicker]="dp_custom" (click)="dp_custom.open()" (ngModelChange)="emit()">
  <mat-icon matSuffix (click)="onSetValue()" class="text-green-400" style="cursor: pointer;">toggle_on</mat-icon>
  <mat-datepicker #dp_custom></mat-datepicker>
</mat-form-field>

<mat-form-field *ngIf="date == null " fxFlex="100" appearance="outline" floatLabel="always">
  <mat-label class="mat-label-custom">{{title}}</mat-label>
  <input [readonly]="true" matInput [value]="'-'" >
  <mat-icon matSuffix (click)="onSetValue2()" class="text-red-400" style="cursor: pointer;">toggle_off</mat-icon>
</mat-form-field>
