<div class="flex flex-wrap justify-center items-start w-full mt-1">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Document & Verify result'" class="mt-2 mb-2"></app-sub-title>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="30">

    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" class="p-2 rounded-md">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Closed / Pending
        </span>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-md="24" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Revised FMEA</mat-label>
        <mat-select [(ngModel)]="form4.revise" (ngModelChange)="onChangeRevise();" (blur)="emitAutoSaveDoc();">
          <mat-option *ngFor="let option of options1" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-md="24" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <app-date-picker-custom fxFlex="100" [title]="'Due date to revise FMEA'" [(date)]="form4.reviseDueDate"
        (dateChange)="emitAutoSaveDoc()"></app-date-picker-custom>

    </div>

    <div fxFlex="100" fxFlex.gt-md="24" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <app-date-picker-custom fxFlex="100" [title]="'FMEA revised date'" [(date)]="form4.reviseDate"
        (dateChange)="emitAutoSaveDoc()"></app-date-picker-custom>

    </div>

  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="30">

    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" class="p-2 rounded-md">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Closed / Pending
        </span>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-md="24" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Verify process</mat-label>
        <mat-select [(ngModel)]="form4.verify"  (blur)="emitAutoSaveDoc();">
          <mat-option *ngFor="let option of options1" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-md="24" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <app-date-picker-custom fxFlex="100" [title]="'Verify process date'" [(date)]="form4.verifyDate"
        (dateChange)="emitAutoSaveDoc()"></app-date-picker-custom>
    </div>

    <div fxFlex="auto"></div>

  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="30">

    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" class="p-2 rounded-md">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Closed / Pending
        </span>
      </div>
    </div>

    <div fxFlex="100" fxFlex.gt-md="24" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Apply Lessons learned</mat-label>
        <mat-select [(ngModel)]="form4.apply" (blur)="emitAutoSaveDoc();">
          <mat-option *ngFor="let option of options1" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-md="24" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <app-date-picker-custom fxFlex="100" [title]="'Date add in Lessons learned file'" [(date)]="form4.applyDate"
        (dateChange)="emitAutoSaveDoc()"></app-date-picker-custom>
    </div>

    <div fxFlex="auto"></div>

  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class="mt-1 pe-8">
    <button mat-raised-button color="primary" (click)="onSave()" class="btn-file btn-radius"
      style="margin-right: 10px;">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
        <span>
          Save
        </span>
        <mat-icon class="mat-18">save</mat-icon>
      </div>
    </button>
  </div>

</div>
