<div class="flex flex-wrap justify-center items-start w-full mt-4">
  <div class="flex justify-center items-center w-full gap-3">
    <mat-icon class="mat-18 cursor-pointer">
      arrow_back_ios_new
    </mat-icon>
    <span class="font-black">
      1
    </span>
    <mat-icon class="mat-18 cursor-pointer">
      arrow_forward_ios
    </mat-icon>
  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <app-sub-title fxFlex="100" [title]="'Claim Status'" class="mt-2 mb-2"></app-sub-title>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Submit customer
      </div>
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Closed/Pending
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Upload OBL III
      </div>
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Closed/Pending
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Auto show analysis lead time "More than 2 months with red background color or Less than 2 months with green
        background color"

      </div>
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Auto show analysis lead time "More than 1.5 months with red background color or Less than 1.5 months with
        green
        background color
      </div>
    </div>
  </div>



  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <app-sub-title fxFlex="100" [title]="'Claim Information'" class="mt-2 mb-2"></app-sub-title>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Claim Notification No.</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>KTC Model No.*</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Product no.</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Customer Control no.</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>KTC Model Code.*</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of tempOption" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Analysis PIC*</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of tempOption" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Customer Name Customer B Name*</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Type</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Description (Japanese)</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>



  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Sales Company Customer A Name</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Side No.*</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Description (English)*</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>



  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Sales PIC</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Q'ty*</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Function/ Appearance</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of tempOption" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Returning Style</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of tempOption" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Product Lot No.*</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>AWB No.</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Model classification</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of tempOption" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Production month</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Inv. No.</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>



  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Calendar Year</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Commercial Distribution</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Date Received Inv.</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Claim registering date</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Use Appearancelication</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="70" appearance="outline" floatLabel="always">
        <mat-label>Transportation cost</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field fxFlex="30" appearance="outline" floatLabel="always">
        <mat-label>Unit</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>



  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Received Information Date ( E-Form OBL III )</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Occurred Location</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Cost Month</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>





  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-4">
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Due date (OBL III)</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Importance (Claim rank)</mat-label>
        <input matInput [required]="true">
        <button mat-icon-button matSuffix>
          <mat-icon class="mat-18">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-lg="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
    </div>
  </div>




  <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-4" fxLayoutGap="4">
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Submit customer
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Closed/Pending
      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Upload OBL III
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Closed/Pending
      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Auto show analysis lead time "More than 2 months with red background color or Less than 2 months with green
        background color"

      </div>
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Auto show analysis lead time "More than 1.5 months with red background color or Less than 1.5 months with green
        background color
      </div>
    </div>
    <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="start stretch">
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-4" >
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Claim Notification No.
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Import or fill
      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        KTC Model No.*
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        *Auto or fill
      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Product no.

      </div>
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Auto-run number
      </div>
    </div>

  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-4" >
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Customer control no.
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Import or fill
      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        KC model code*
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        *Import or auto-select or fill
      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Analysis PIC*
      </div>
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        *Select
      </div>
    </div>

  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-4" >
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Customer Name Customer B Name*
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        *Import or fill
      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="60" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-slate-400 b1">
        Type
      </div>
      <div fxFlex="40" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Auto-select at sheet "Model" at column "H"or fill

      </div>
    </div>
    <div fxFlex="27" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Description (Japanese)
      </div>
      <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Import or fill
      </div>
    </div>

  </div> -->



</div>
