<div class="flex flex-wrap justify-center items-start w-full mt-1">
  <div class="flex justify-center items-center w-full gap-3">
    <mat-icon class="mat-18 cursor-pointer">
      arrow_back_ios_new
    </mat-icon>
    <span class="font-black">
      1
    </span>
    <mat-icon class="mat-18 cursor-pointer">
      arrow_forward_ios
    </mat-icon>
  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Claim Status'" class="mt-2 mb-2"></app-sub-title>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-card fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-1 b1">
        Submit customer
      </mat-card>
      <mat-card fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Closed/Pending
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-card fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="bg-1 b1">
        <button mat-raised-button color="primary" (click)="fileUpload.click()">
          <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
            Upload OBL !!!
            <mat-icon class="mat-18">upload</mat-icon>
          </div>
          <input type="file" hidden #fileUpload accept=".xlsx" (change)="onUploadFile($event)">
        </button>
      </mat-card>
      <mat-card fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1">
        Closed/Pending
      </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <mat-card fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Auto show analysis lead time "More than 2 months with red background color or Less than 2 months with green
        background color"

      </mat-card>
      <mat-card fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center" class="b1 p-2">
        Auto show analysis lead time "More than 1.5 months with red background color or Less than 1.5 months with
        green
        background color
      </mat-card>
    </div>
  </div>

  <button (click)="foo()">
    LLLLLLLLLLLLLLLL
  </button>


  <form [formGroup]="claimInfoCtrl" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch"  >

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <app-sub-title fxFlex="100" [title]="'Claim Information'" class="mt-2 mb-2"></app-sub-title>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Claim Notification No.</mat-label>
          <input matInput  formControlName="claimNo">

        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>KTC Model No.</mat-label>
          <input matInput formControlName="modelNo">

        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Product No.</mat-label>
          <input matInput formControlName="productNo">
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Customer Control No.</mat-label>
          <input matInput formControlName="customerNo">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>KTC Model Code</mat-label>
          <mat-select formControlName="modelCode">
            <mat-option *ngFor="let item of tempOption" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis PIC</mat-label>
          <mat-select formControlName="analysisPIC" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let item of tempOption" [value]="item">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>


    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Customer Name Customer B Name</mat-label>
          <input matInput formControlName="customerName">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Type</mat-label>
          <input matInput formControlName="type">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Description (Japanese)</mat-label>
          <input matInput formControlName="descriptionJP">
        </mat-form-field>
      </div>

    </div>



    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Sales Company Customer A Name</mat-label>
          <input matInput formControlName="saleCompany">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Side No.</mat-label>
          <input matInput formControlName="sideNo">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Description (English)</mat-label>
          <input matInput formControlName="descriptionENG">
        </mat-form-field>
      </div>

    </div>



    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Sales PIC</mat-label>
          <input matInput formControlName="salePIC">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Q'ty</mat-label>
          <input matInput formControlName="qty">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Function/ Appearance</mat-label>
          <mat-select formControlName="functionAppearance">
            <mat-option *ngFor="let item of tempOption" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>


    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Returning Style</mat-label>
          <mat-select formControlName="returnStyle">
            <mat-option *ngFor="let item of tempOption" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Product Lot No.</mat-label>
          <input matInput formControlName="productLotNo">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>AWB No.</mat-label>
          <input matInput formControlName="AWBNo">
        </mat-form-field>
      </div>

    </div>


    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Model Classification</mat-label>
          <mat-select formControlName="modelClassification">
            <mat-option *ngFor="let item of tempOption" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">



        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Production Month</mat-label>
          <input readonly matInput formControlName="productionMonth" (click)="monthSelectProductionMonth()">
        </mat-form-field>

      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Inv. No.</mat-label>
          <input matInput formControlName="InvNo">
        </mat-form-field>
      </div>

    </div>



    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <app-year-picker fxFlex="100" [label]="'Calendar Year'" (yearEmit)="emitYear($event)"></app-year-picker>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Commercial Distribution</mat-label>
          <mat-select formControlName="commercialDistribution">
            <mat-option *ngFor="let item of tempOption" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Date Received Inv.</mat-label>
          <input matInput formControlName="calendarYear" [matDatepicker]="dateReceive_dp">
          <mat-datepicker-toggle matSuffix [for]="dateReceive_dp"></mat-datepicker-toggle>
          <mat-datepicker #dateReceive_dp></mat-datepicker>
        </mat-form-field>

      </div>

    </div>


    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Claim Registering Date</mat-label>
          <input matInput [matDatepicker]="claimRegister_dp">
          <mat-datepicker-toggle matSuffix [for]="claimRegister_dp"></mat-datepicker-toggle>
          <mat-datepicker #claimRegister_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Use Appearancelication</mat-label>
          <input matInput [required]="true">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="70" appearance="outline" floatLabel="always">
          <mat-label>Transportation Cost</mat-label>
          <input matInput [required]="true">
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline" floatLabel="always">
          <mat-label>Unit</mat-label>
          <input matInput [required]="true">
        </mat-form-field>
      </div>

    </div>



    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Received Information Date ( E-Form OBL III )</mat-label>
          <input matInput [matDatepicker]="receiveInfo_dp">
          <mat-datepicker-toggle matSuffix [for]="receiveInfo_dp"></mat-datepicker-toggle>
          <mat-datepicker #receiveInfo_dp></mat-datepicker>
        </mat-form-field>

      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Occurred Location</mat-label>
          <input matInput [required]="true">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Cost Month</mat-label>
          <input readonly matInput [required]="true" (click)="monthSelectProductionMonth()">

          <!-- <mat-select>
            <mat-option *ngFor="let month of monthOption" [value]="month.value">
              {{month.name}}
            </mat-option>
          </mat-select> -->
        </mat-form-field>
      </div>

    </div>





    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Due Date (OBL III)</mat-label>
          <input matInput [matDatepicker]="dueDate_dp">
          <mat-datepicker-toggle matSuffix [for]="dueDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #dueDate_dp></mat-datepicker>
        </mat-form-field>

      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Importance (Claim Rank)</mat-label>
          <input matInput [required]="true">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
      </div>
    </div>


  </form>







</div>
