<div fxLayout="row wrap" fxLayoutAlign="center start" style="margin-bottom: 10rem;">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <app-title fxFlex="100" [title]="'RGAS-2'"></app-title>
  </div>
  <ng-container>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form1 [form]="form" [form2]="form2" [form3]="form3" (formChange)="form1_Change()"
        (copyChange)="form1_copyChange($event)"></app-form1>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form2 fxFlex="100" [claim]="form" [form2]="form2" (onSaveChange)="form2_onSaveChange($event)"
        (onCreateChange)="form2_onCreateChange($event)" (onUploadChange)="form2_onUploadChange($event)"
        (onAutoSaveChange)="form2_onAutoSaveChange($event)"></app-form2>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form3 fxFlex="100" [(form)]="form3" [(reportInformation)]="information"
        (submitReportChange)="form3_submitReportChange($event)"
        (submitReportArrChange)="form3_submitReportArrChange($event)" (uploadChange)="form3_uploadChange($event)"
        (uploadArrChange)="form3_uploadArrChange($event)" (approveChange)="form3_approveChange($event)"
        (approveArrChange)="form3_approveArrChange($event)" (deleteArrChange)="form3_deleteArrChange($event)"
        (deleteInfoArrChange)="form3_Info_deleteArrChange($event)"
        (reportInformationChange)="form3_reportInformationChange($event)"
        (autoSaveByKeyChange)="form3_autoSaveByKey($event)"
        (autoSaveByKeyArrChange)="form3_autoSaveByKeyArrChange($event)"
        (autoSaveInformationChange)="form3_emitAutoSaveInformation($event)"></app-form3>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form4 fxFlex="100" [(form4)]="form4" (form4Change)="form4_Change($event)"
        (autoSaveDocChange)="form4_autoSaveDocChange($event)"></app-form4>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" class="mt-8">
      <button mat-raised-button color="primary" (click)="onFinish()" class="btn-success btn-radius"
        style="margin-right: 10px;">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
          <span>
            Finish
          </span>
          <mat-icon class="mat-18">save</mat-icon>
        </div>
      </button>
    </div>

  </ng-container>
</div>
