<div fxLayout="row wrap" fxLayoutAlign="center start" style="margin-bottom: 10rem;">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <app-title fxFlex="100" [title]="'RGAS-2'"></app-title>
  </div>
  <ng-container>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form1 [form]="form" [form2]="form2" [form3]="form3" (formChange)="formChange()" (copyChange)="copyChange($event)"></app-form1>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form2 fxFlex="100" [claim]="form" [form2]="form2" (onSaveChange)="onSaveChangeForm2($event)"
        (onCreateChange)="onCreateChangeForm2($event)" (onUploadChange)="onUploadChangeForm2($event)"></app-form2>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form3 fxFlex="100" [(form)]="form3" [(reportInformation)]="information"
        (submitReportChange)="submitReportChange($event)" (submitReportArrChange)="submitReportArrChange($event)"
        (uploadChange)="uploadChange($event)" (uploadArrChange)="uploadArrChange($event)"
        (approveChange)="approveChange($event)" (approveArrChange)="approveArrChange($event)"
        (deleteArrChange)="deleteArrChange($event)"
        (reportInformationChange)="reportInformationChange($event)"></app-form3>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <app-form4 fxFlex="100" [(form4)]="form4" (form4Change)="form4Change($event)"></app-form4>
    </div>
    <div *ngIf="form" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" class="mt-4">
      <button mat-raised-button color="primary" (click)="onFinish()" class="btn-success btn-radius" style="margin-right: 10px;">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
          <span>
            Finish
          </span>
          <mat-icon class="mat-18">save</mat-icon>
        </div>
      </button>
    </div>

  </ng-container>
</div>

