// $vt-primary: (
//   50 : #e3eff9,
//   100 : #b8d6f0,
//   200 : #89bbe7,
//   300 : #599fdd,
//   400 : #368bd5,
//   500 : #A4E4DC,
//   600 : #106ec9,
//   700 : #0d63c2,
//   800 : #0a59bc,
//   900 : #0546b0,
//   A100 : #dbe6ff,
//   A200 : #a8c4ff,
//   A400 : #75a1ff,
//   A700 : #5b90ff,
//   contrast: (50 : #000000,
//     100 : #000000,
//     200 : #000000,
//     300 : #000000,
//     400 : #ffffff,
//     500 : #000000,
//     600 : #ffffff,
//     700 : #ffffff,
//     800 : #ffffff,
//     900 : #ffffff,
//     A100 : #000000,
//     A200 : #000000,
//     A400 : #000000,
//     A700 : #000000,
//   )
// );

$vt-accent: (
  50 : #e3eff9,
  100 : #b8d6f0,
  200 : #89bbe7,
  300 : #599fdd,
  400 : #368bd5,
  500 : #1276ce,
  600 : #106ec9,
  700 : #0d63c2,
  800 : #0a59bc,
  900 : #0546b0,
  A100 : #dbe6ff,
  A200 : #a8c4ff,
  A400 : #75a1ff,
  A700 : #5b90ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$vt-primary: (
  50 : #e3eff9,
  100 : #b8d6f0,
  200 : #89bbe7,
  300 : #599fdd,
  400 : #368bd5,
  500 : #1276ce,
  600 : #106ec9,
  700 : #0d63c2,
  800 : #0a59bc,
  900 : #0546b0,
  A100 : #dbe6ff,
  A200 : #a8c4ff,
  A400 : #75a1ff,
  A700 : #5b90ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


@import '@angular/material/theming';

@include mat-core();

$primary: mat-palette($vt-primary);
// $accent: mat-palette($mat-pink, A200, A100, A400);
$accent: mat-palette($vt-accent, A200, A100, A400);



.theme {
  &--light {
    $theme: mat-light-theme($primary, $accent);

    @include angular-material-theme($theme);

    .mat-toolbar {
      background-color: #A4E4DC !important;
    }

    .mat-toolbar>* {
      color: black;
    }

    .text-link {
      color: #299bff;
      cursor: pointer;
    }

    .text-link:hover {
      text-decoration: underline;
    }

    .btn-success {
      background-color: rgb(185 255 185);
      color: black;
    }


    .btn-danger {
      background-color: #fb7676;
      color: white;
    }

    .mat-cell {
      padding: 10px;
    }

    .mat-header-cell {
      padding: 10px;
      font-weight: 900;
      text-transform: capitalize;
    }

    .mat-header-row {
      background-color: aquamarine !important;
    }

    .mat-form-field-wrapper {
      padding: 0 !important;
    }

    // fix bug underline of paginator
    // .mat-form-field-appearance-legacy .mat-form-field-underline {
    //   height: 0;
    // }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      bottom: 0.25rem;
    }

    .card-step-active {
      background-color: #A4E4DC;
      color: black;
    }

    .tag-engineer {
      background-color: #dadada;
      color: #272643;
    }

    .tag-section {
      background-color: #e3f6f5;
      color: #272643;
    }

    .tag-interpreter {
      background-color: #bae8e8;
      color: #272643;
    }

    .tag-department {
      background-color: #2c698d;
      color: white;
    }

    .tag-finish {
      background-color: #4c55a5;
      color: white;
    }

    .mat-label-custom {
      color: #3275ff;
    }

  }

  &--dark {
    $theme: mat-dark-theme($primary, $accent);
    background: #303030;
    color: white;

    @include angular-material-theme($theme);

    .mat-toolbar {
      background-color: #178173 !important;
    }

    .mat-toolbar>* {
      color: white;
    }

    .text-link {
      color: #42ceff;
      cursor: pointer;
    }

    .text-link:hover {
      text-decoration: underline;
    }

    .btn-success {
      background-color: rgb(185 255 185);
      color: black;
    }

    .btn-danger {
      background-color: #fb7676;
      color: white;
    }

    .mat-cell {
      padding: 10px;
    }

    .mat-header-cell {
      padding: 10px;
      font-weight: 900;
      text-transform: capitalize;
      color: black;
    }

    .mat-table thead {
      background-color: rgb(127, 168, 255) !important;
    }

    .mat-form-field-wrapper {
      padding: 0 !important;
    }

    // fix bug underline of paginator
    // .mat-form-field-appearance-legacy .mat-form-field-underline {
    //   height: 0;
    // }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      bottom: 0.25rem;
    }

    .card-step-active {
      background-color: #178173;
      color: black;
    }

    .tag-engineer {
      background-color: #dadada;
      color: #272643;
    }

    .tag-section {
      background-color: #e3f6f5;
      color: #272643;
    }

    .tag-interpreter {
      background-color: #bae8e8;
      color: #272643;
    }

    .tag-department {
      background-color: #2c698d;
      color: white;
    }

    .tag-finish {
      background-color: #4c55a5;
      color: white;
    }

    .mat-label-custom {
      color: #0088ff;
    }
  }
}
