
.receive {
  color: darkseagreen;
}

.waitApprove {
  color: #ff2da9;
}

.analysis {
  color: sandybrown;
}

.closed {
  color: #333;
}

.closed {
  color: rgb(90, 190, 90);
}

.pending {
  color: #f75d5d;
}

.text-red {
  color: #f75d5d;
}

.text-green {
  color: rgb(90, 190, 90);
}
