<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div class="flex justify-center items-start w-full">
    <app-title [title]="'RGAS-1'" class="w-full"></app-title>
  </div>
  <div fxFlex="95" fxLayout="row wrap" fxLayoutAlign="start stretch">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">

      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="center center" class="mr-2">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Search Option</mat-label>
          <mat-select [(ngModel)]="paginatorData.filterSelected" (ngModelChange)="onChangeSelect()">
            <mat-option value=""> </mat-option>
            <mat-option *ngFor="let item of filterOption" [value]="item.value">
              <span class="capitalize text-sm">
                {{item.name}}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start center" class="mr-4">
        <ng-container *ngIf="paginatorData.filterSelected!='claimMonth'">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label>Search Value</mat-label>
            <input matInput [placeholder]="placeholder" [(ngModel)]="paginatorData.fillSearch"
              (keydown.enter)="onSearchSubmit()">
            <button matSuffix mat-icon-button (click)="onSearchSubmit()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paginatorData.filterSelected=='claimMonth'">
          <nz-range-picker nzMode="month" nzFormat="MMM-YY" [(ngModel)]="paginatorData.fillSearch"
            (ngModelChange)="onSearchSubmit()"></nz-range-picker>
        </ng-container>
      </div>
      <button mat-icon-button color="primary" (click)="clearFilter()">
        <span class="material-icons-outlined">
          restart_alt
        </span>
        Clear Filter
      </button>
      <div fxFlex="auto"></div>
      <div *ngIf="showBtnNew" fxLayout="row wrap" fxLayoutAlign="center center">
        <button mat-raised-button class="btn-success btn-radius" (click)="onClickNew()">
          <mat-icon class="mat-18">add_circle</mat-icon>
          New
        </button>
      </div>

    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" class="mt-3">
      <nz-table #nzTable nzShowSizeChanger [nzData]="antTableData" [nzFrontPagination]="false" [nzLoading]="loading"
        [nzTotal]="total" [nzPageSize]="paginatorData.pageSize" [nzPageIndex]="paginatorData.pageIndex"
        (nzQueryParams)="onQueryParamsChange2($event)" [nzPageSizeOptions]="pageSizeOption"
        [nzScroll]="{ x: '1200px', y: '55vh' }" class="mat-table-custom">

        <thead>
          <tr>
            <th nzWidth="150px" [class]="cssHeaderFilterActive('registerNo')" (click)="handleSort('registerNo')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  RegisterNo
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('registerNo')}}
                </span>
              </div>
            </th>
            <th nzWidth="100px" [class]="cssHeaderFilterActive('no')" (click)="handleSort('no')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Page no.
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('no')}}
                </span>
              </div>
            </th>
            <th nzWidth="130px" [class]="cssHeaderFilterActive('docStatus')" (click)="handleSort('docStatus')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Status
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('docStatus')}}
                </span>
              </div>
            </th>

            <th nzWidth="200px" [class]="cssHeaderFilterActive('')">More Than 2 Month</th>
            <th nzWidth="200px" [class]="cssHeaderFilterActive('')">More Than 1.5 Month</th>

            <th nzWidth="150px" [class]="cssHeaderFilterActive('PIC')" (click)="handleSort('PIC')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  PIC
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('PIC')}}
                </span>
              </div>
            </th>
            <th nzWidth="150px" [class]="cssHeaderFilterActive('claimMonth')" (click)="handleSort('claimMonth')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Claim Month
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('claimMonth')}}
                </span>
              </div>
            </th>
            <th nzWidth="150px" [class]="cssHeaderFilterActive('claimNo')" (click)="handleSort('claimNo')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Claim No
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('claimNo')}}
                </span>
              </div>
            </th>
            <th nzWidth="120px" [class]="cssHeaderFilterActive('modelNo')" (click)="handleSort('modelNo')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Model No
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('modelNo')}}
                </span>
              </div>
            </th>
            <th nzWidth="200px" [class]="cssHeaderFilterActive('customerName')" (click)="handleSort('customerName')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Customer Name
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('customerName')}}
                </span>
              </div>
            </th>
            <th nzWidth="200px" [class]="cssHeaderFilterActive('occurredLocation')"
              (click)="handleSort('occurredLocation')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Occurred Location
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('occurredLocation')}}
                </span>
              </div>
            </th>
            <th nzWidth="200px" [class]="cssHeaderFilterActive('defect')" (click)="handleSort('defect')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Defect
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('defect')}}
                </span>
              </div>
            </th>
            <th nzWidth="100px" [class]="cssHeaderFilterActive('qty')" (click)="handleSort('qty')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Q'ty
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('qty')}}
                </span>
              </div>
            </th>
            <th nzWidth="200px" [class]="cssHeaderFilterActive('lotNo')" (click)="handleSort('lotNo')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Lot No.
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('lotNo')}}
                </span>
              </div>
            </th>
            <th nzWidth="200px" [class]="cssHeaderFilterActive('judgment')" (click)="handleSort('judgment')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Judgment
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('judgment')}}
                </span>
              </div>
            </th>
            <th nzWidth="200px" [class]="cssHeaderFilterActive('returnStyle')" (click)="handleSort('returnStyle')">
              <div fxLayout="row wrap" fxLayoutAlign="center center" style="cursor: pointer;">
                <span>
                  Return Style
                </span>
                <span class="material-icons-outlined" style="font-size: 16px;">
                  {{controlSort('returnStyle')}}
                </span>
              </div>
            </th>
            <th nzWidth="70px" [nzRight]="true">
              <button mat-icon-button color="warn" (click)="clearFilter2()">
                <span class="material-icons-outlined">
                  restart_alt
                </span>
              </button>
            </th>
          </tr>
          <tr>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-registerNo" type="text" nz-input (keydown.enter)="onFilter2($event,'registerNo')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-no" type="text" nz-input (keydown.enter)="onFilter2($event,'no')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-docStatus" type="text" nz-input (keydown.enter)="onFilter2($event,'docStatus')" />
              </nz-input-group>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-PIC" type="text" nz-input (keydown.enter)="onFilter2($event,'PIC')" />
              </nz-input-group>
            </th>
            <th>
              <nz-date-picker id="filter-claimMonth" nzMode="month" nzFormat="MMM-YY" [(ngModel)]="tempFilterDate"
                (ngModelChange)="onFilter2($event,'claimMonth')"></nz-date-picker>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-claimNo" type="text" nz-input (keydown.enter)="onFilter2($event,'claimNo')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-modelNo" type="text" nz-input (keydown.enter)="onFilter2($event,'modelNo')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-customerName" type="text" nz-input
                  (keydown.enter)="onFilter2($event,'customerName')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-occurredLocation" type="text" nz-input
                  (keydown.enter)="onFilter2($event,'occurredLocation')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-defect" type="text" nz-input (keydown.enter)="onFilter2($event,'defect')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-qty" type="text" nz-input (keydown.enter)="onFilter2($event,'qty')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-lotNo" type="text" nz-input (keydown.enter)="onFilter2($event,'lotNo')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-judgment" type="text" nz-input (keydown.enter)="onFilter2($event,'judgment')" />
              </nz-input-group>
            </th>
            <th>
              <nz-input-group [nzPrefix]="prefixTemplateUser">
                <input id="filter-returnStyle" type="text" nz-input (keydown.enter)="onFilter2($event,'returnStyle')" />
              </nz-input-group>
            </th>
            <th>

            </th>
            <ng-template #prefixTemplateUser>
              <span class="material-icons-outlined" style="font-size: 14px;">
                search
              </span>
            </ng-template>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of antTableData;let i=index">
            <td>
              <ng-container *ngIf="adminValidate()">
                <span class="text-link" [matMenuTriggerFor]="menu">
                  {{row.registerNo}}
                </span>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="onClickClaim(row)">View</button>
                  <button mat-menu-item (click)="cancelClaim(row)">Cancel</button>
                </mat-menu>
              </ng-container>
              <ng-container *ngIf="!adminValidate()">
                <span class="text-link" (click)="onClickClaim(row)">
                  {{row.registerNo}}
                </span>
              </ng-container>
            </td>
            <td>
              {{row.no}}
            </td>
            <td class="font-bold capitalize" [class]="cssStatus(row.docStatus)">
              <span [title]="row.claimStatus">
                {{row.docStatus}}
              </span>
            </td>
            <td style="text-wrap: nowrap;font-weight: 500;" [class]="cssStatus1(row.moreThan2Month)">
              {{row.moreThan2Month}}
            </td>
            <td style="text-wrap: nowrap;font-weight: 500;" [class]="cssStatus2(row.moreThan15Month)">
              {{row.moreThan15Month}}
            </td>
            <td class="font-bold" style="text-wrap: nowrap;"> {{row.PIC}} </td>
            <td> {{row.claimMonth}} </td>
            <td class="font-bold"> {{row.claimNo}} </td>
            <td> {{row.modelNo}} </td>
            <td> {{row.customerName}} </td>
            <td> {{row.occurredLocation}} </td>
            <td> {{row.defect}} </td>
            <td> {{row.qty}} </td>
            <td> {{row.lotNo}} </td>
            <td> {{row.judgment}} </td>
            <td> {{row.returnStyle}} </td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
