<div class="flex flex-wrap justify-center items-start w-full mt-1">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Report'" class="mt-2 mb-2"></app-sub-title>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
      class="p-2 rounded-md" [class]="cssTagReportStatus(form.preReport.status)">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Pre Report
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Due Date</mat-label>
        <input [disabled]="true" matInput [value]="form?.preReport?.dueDate" [matDatepicker]="preReportDueDate_dp">
        <mat-datepicker-toggle matSuffix [for]="preReportDueDate_dp"></mat-datepicker-toggle>
        <mat-datepicker #preReportDueDate_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Date Submit To Customer</mat-label>
        <input [disabled]="true" matInput [value]="form?.preReport?.dateSubmitToCustomer"
          [matDatepicker]="preReportDateSubmitToCustomer_dp">
        <mat-datepicker-toggle matSuffix [for]="preReportDateSubmitToCustomer_dp"></mat-datepicker-toggle>
        <mat-datepicker #preReportDateSubmitToCustomer_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">

      <button [disabled]="true" fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" class="btn-file">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            Files
          </span>
          <mat-icon>file_upload</mat-icon>
        </div>
      </button>
      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form.preReport.files,'preReport')"
        class="btn-file" [ngClass.gt-md]="'m-btn-l'">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            View
          </span>
          <mat-icon [matBadge]="controlBadgeNumber(form.preReport.files)" matBadgeColor="warn">attach_file</mat-icon>
        </div>
      </button>

    </div>
  </div>

  <ng-container *ngFor="let interim of form.interims; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
        class="p-2 rounded-md" [class]="cssTagReportStatus(interim.status)">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon class="mat-18 me-2">topic</mat-icon>
          <span class="font-black text-label">
            Interim Report
          </span>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Due Date</mat-label>
          <input [disabled]="true" matInput [value]="interim?.dueDate" [matDatepicker]="interimDueDate_dp">
          <mat-datepicker-toggle matSuffix [for]="interimDueDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #interimDueDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Date Submit To Customer</mat-label>
          <input [disabled]="true" matInput [value]="interim?.dateSubmitToCustomer"
            [matDatepicker]="interimDateSubmitToCustomer_dp">
          <mat-datepicker-toggle matSuffix [for]="interimDateSubmitToCustomer_dp"></mat-datepicker-toggle>
          <mat-datepicker #interimDateSubmitToCustomer_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">

        <button [disabled]="true" fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(interim.files,'preReport')"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(interim?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>

      </div>

    </div>

  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-8">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
      class="p-2 rounded-md" [class]="cssTagReportStatus(form?.finalReport?.status)">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Final report
          <span class="text-label-sub">
            (Date submit to customer)
          </span>
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Due Date</mat-label>
        <input [disabled]="true" matInput [value]="form?.finalReport?.dueDate"
          [matDatepicker]="finalReportDueDate_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportDueDate_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportDueDate_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Date Submit To Customer</mat-label>
        <input [disabled]="true" matInput [value]="form?.finalReport?.dateSubmitToCustomer"
          [matDatepicker]="finalReportDateSubmitToCustomer_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportDateSubmitToCustomer_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportDateSubmitToCustomer_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">


      <button [disabled]="true" fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" class="btn-file">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            Files
          </span>
          <mat-icon>file_upload</mat-icon>
        </div>
      </button>
      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form.finalReport.files,'preReport')"
        class="btn-file" [ngClass.gt-md]="'m-btn-l'">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            View
          </span>
          <mat-icon [matBadge]="controlBadgeNumber(form.finalReport?.files)" matBadgeColor="warn">attach_file</mat-icon>
        </div>
      </button>

    </div>

  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
      class="p-2 rounded-md" [class]="cssTagReportStatus(form.finalReportOBL.status)">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Final report
          <span class="text-label-sub">
            (Date up load in OBL III)
          </span>
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Due Date</mat-label>
        <input [disabled]="true" matInput [value]="form?.finalReportOBL?.dueDate"
          [matDatepicker]="finalReportOBLDueDate_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportOBLDueDate_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportOBLDueDate_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Date To Upload</mat-label>
        <input [disabled]="true" matInput [value]="form?.finalReportOBL?.dateSubmitToCustomer"
          [matDatepicker]="finalReportOBLDateSubmitToCustomer_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportOBLDateSubmitToCustomer_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportOBLDateSubmitToCustomer_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">PIC</mat-label>
        <input [disabled]="true" matInput [value]="form?.finalReportOBL?.PIC?.name">
      </mat-form-field>
    </div>

  </div>

  <ng-container *ngFor="let questionAnswer of form.questionAnswers; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
        class="p-2 rounded-md" [class]="cssTagReportStatus(questionAnswer.status)">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon class="mat-18 me-2">topic</mat-icon>
          <span class="font-black text-label">
            Question & Answer
          </span>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Due Date</mat-label>
          <input [disabled]="true" matInput [value]="questionAnswer?.dueDate"
            [matDatepicker]="questionAnswerDueDate_dp">
          <mat-datepicker-toggle matSuffix [for]="questionAnswerDueDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #questionAnswerDueDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Date Submit To Customer</mat-label>
          <input [disabled]="true" matInput [value]="questionAnswer?.dateSubmitToCustomer"
            [matDatepicker]="questionAnswerDueSubmitToCustomer_dp">
          <mat-datepicker-toggle matSuffix [for]="questionAnswerDueSubmitToCustomer_dp"></mat-datepicker-toggle>
          <mat-datepicker #questionAnswerDueSubmitToCustomer_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-1">



        <button [disabled]="true" fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(questionAnswer.files,'preReport')"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(questionAnswer?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>

      </div>



    </div>


  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Report Information'" class="mt-2 mb-2"></app-sub-title>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">NG</mat-label>
        <input [disabled]="true" matInput type="number" [value]="reportInformation?.ng?.qty">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Defect phenomenon (Major classification)</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.ng?.value1">
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">

      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Defect details classification (5M1E)</mat-label>
        <input matInput [value]="reportInformation?.ng?.value2">
      </mat-form-field>

    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Not accepted</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.notAccepted?.qty">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Detailed phenomenon (Middle classification)</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.notAccepted?.value1">
      </mat-form-field>

    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">


      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Defect cause classification (5M1E)</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.notAccepted?.value2">
      </mat-form-field>


    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">No abnormality</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.noAbnormality?.qty">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">


      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Cause (Minor classification)</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.noAbnormality?.value1">
      </mat-form-field>

    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">

      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Rule 3-principle ※ Occurrence</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.noAbnormality?.value2">
      </mat-form-field>


    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Within spec</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.withinSpec?.qty">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Occurrence process category</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.withinSpec?.value1">
      </mat-form-field>


    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">


      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Rule 3-principle ※ Outflow</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.withinSpec?.value2">
      </mat-form-field>


    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Not recurred</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.notRecurred?.qty">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">


      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Occurrence process category details</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.notRecurred?.value1">
      </mat-form-field>



    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">IATF no.</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.notRecurred?.value2">
      </mat-form-field>
    </div>
  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Difference between Report and Real cause</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.difference?.qty">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Maker name</mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.difference?.value1">
      </mat-form-field>
    </div>

  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Caused by Customer </mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.causeByCustomer">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Out of Warranty by Customer </mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.outWarranty">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Root cause </mat-label>
        <input [disabled]="true" matInput [value]="reportInformation?.rootCause">
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngFor="let rootCauseAction of reportInformation.rootCauseActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Root cause action </mat-label>
          <input [disabled]="true" matInput [value]="rootCauseAction.value">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Effective date</mat-label>
          <input [disabled]="true" matInput [matDatepicker]="rootCauseActionEffectiveDate_dp" [value]="rootCauseAction.date">
          <mat-datepicker-toggle matSuffix [for]="rootCauseActionEffectiveDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #rootCauseActionEffectiveDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Leak cause </mat-label>
        <input [disabled]="true" matInput [value]="reportInformation.leakCause">
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngFor="let leakCauseAction of reportInformation.leakCauseActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Root cause action </mat-label>
          <input [disabled]="true" matInput [value]="leakCauseAction.value">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Effective date</mat-label>
          <input [disabled]="true" matInput [matDatepicker]="leakCauseActionEffectiveDate_dp" [value]="leakCauseAction.date">
          <mat-datepicker-toggle matSuffix [for]="leakCauseActionEffectiveDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #leakCauseActionEffectiveDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

  </ng-container>

</div>
