<div fxLayout="row wrap" fxLayoutAlign="start center">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id explicabo beatae excepturi, quas aut neque est tempora
  similique illum possimus delectus pariatur consequatur, assumenda natus. Ullam nisi enim maiores minus!
</div>
<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20">
  <mat-checkbox [(ngModel)]="monthAllSelect" class="example-margin">All month</mat-checkbox>
  <ng-container *ngFor="let item of monthOption; let i=index">
    <mat-checkbox [(ngModel)]="item.value" class="example-margin">{{item.month}}</mat-checkbox>
  </ng-container>

</div>
<button mat-button>
  {{yearSelect}}
</button>
<section class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container *ngFor="let column of columns;let i_col = index">
      <ng-container [matColumnDef]="column.columnDef" [sticky]="i_col<=7?true:false">
        <th mat-header-cell *matHeaderCellDef>
          {{column.header}}
        </th>
        <ng-container *ngIf="column.type=='text'">
          <td mat-cell *matCellDef="let row" sticky>
            {{column.cell(row)}}
          </td>
        </ng-container>
        <ng-container *ngIf="column.type=='input'">
          <td mat-cell *matCellDef="let row">
            <input type="number" [(ngModel)]="row[column.columnDef]" class="input-number"
              (keydown.enter)="onSubmit(row,column)">
          </td>
        </ng-container>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport">
      <tr cdkVirtualFor mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </cdk-virtual-scroll-viewport>
  </table>
</section>
