::ng-deep .label-detail > * {
  font-size: small !important;
  background-color: white !important;
  color: black !important;
}
.bf{
  border: 2px solid black;
}
.bt{
  border-top: 2px solid black;
}
.br{
  border-right: 2px solid black;
}
.bb{
  border-bottom: 2px solid black;
}
.bl{
  border-left: 2px solid black;
}
.m-btn-l{
  margin-left: 10px !important;
}
.btn-file{
  margin: 0.25em 0 ;
}
