<div fxLayout="row wrap" fxLayoutAlign="center stretch" class="mt-2 mb-4">
  <div *ngIf="form2" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Analysis Result'" class="mt-2 mb-2"></app-sub-title>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="10">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start start">

        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">Part Receive Date</mat-label>
            <input matInput [matDatepicker]="partReceiveDate_dp" [(ngModel)]="form2.partReceivingDate">
            <mat-datepicker-toggle matSuffix [for]="partReceiveDate_dp"></mat-datepicker-toggle>
            <mat-datepicker #partReceiveDate_dp></mat-datepicker>
          </mat-form-field>

        </div>
        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">

          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">PIC</mat-label>
            <mat-select [compareWith]="objectComparisonFunction" [(ngModel)]="form2.PIC">
              <mat-option *ngFor="let user of PICOption" [value]="user">
                {{displayName(user)}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">RGA No.</mat-label>
            <input matInput [(ngModel)]="form2.rgaNo">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label class="mat-label-custom">KTC Analysis Result</mat-label>
            <input matInput [(ngModel)]="form2.ktcAnalysisResult">
          </mat-form-field>
        </div>

      </div>
      <div fxFlex="100" fxFlex.gt-md="65" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" class="mb-2">
          <button [disabled]="disablePrintBtn()" (click)="printLabel()" mat-raised-button color="primary">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5">
              <span>Print Label</span>
              <mat-icon class="mat-18">picture_as_pdf</mat-icon>
            </div>
          </button>
        </div>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" class="mb-2 p-1 overflow-auto">
          <div id="print" fxLayoutAlign="start start" class="label-detail"
            style="width: 900px; height: 260px; padding: 5px;">
            <div class="flex justify-center items-center bf" style="width: 240px; height: 250px;">
              <img [src]="form2.qrcode" alt="" style="width: 225px; height: 225px;">
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="bt br bb"
              style="width:640px; height: 250px;">
              <div fxFlex="100" fxLayoutAlign="center stretch" class="font-black bb">
                RGA TAG
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Claim no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  {{claim.claimNo}}
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  RGA no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 ">
                  {{form2.rgaNo}}
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Customer
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  {{claim.customerName}}
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Received date
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 ">
                  {{form2.partReceivingDate | date:'dd-MMM-YY'}}
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Model no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  {{claim.modelNo}}
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Model Name
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 ">
                  {{claim.modelCode}}
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Product no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  {{claim.productNo}}
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Side no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 ">
                  {{claim.sideNo}}
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Lot no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  {{claim.productLotNo}}
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Defective mode
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 ">
                  {{claim.descriptionENG}}
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  Disposition
                </div>
                <div fxFlex="85" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 ">
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Repair / Rework
                    </span>
                  </div>
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Claim to supplier
                    </span>
                  </div>
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Scrap
                    </span>
                  </div>
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Return to customer
                    </span>
                  </div>
                  <div fxFlex="66" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Other
                    </span>
                    <input [readOnly]="true" type="text" name="" id="">
                  </div>
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-black pl-1 br">
                  PIC
                </div>
                <div fxFlex="85" fxLayout="row wrap" fxLayoutAlign="center center" class="font-black ">
                  <span>
                    {{labelShowPIC()}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="20">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Appearance Check Result </mat-label>
          <mat-select [(ngModel)]="form2.appearance.result">
            <mat-option *ngFor="let item of option1" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis By</mat-label>
          <mat-select [(ngModel)]="form2.appearance.analysisBy" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let item of PICOption" [value]="item">
              {{displayName(item)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis Date</mat-label>
          <input matInput [(ngModel)]="form2.appearance.analysisDate" [matDatepicker]="appearance_dp">
          <mat-datepicker-toggle matSuffix [for]="appearance_dp"></mat-datepicker-toggle>
          <mat-datepicker #appearance_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="appearanceFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #appearanceFile (change)="onUploadFile($event,'appearance')">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button
          (click)="openBottom(form2.appearance.files,'appearance')" class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.appearance.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Function Check Result </mat-label>
          <mat-select [(ngModel)]="form2.function.result">
            <mat-option *ngFor="let item of option2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis By</mat-label>
          <mat-select [(ngModel)]="form2.function.analysisBy" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let item of PICOption" [value]="item">
              {{displayName(item)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis Date</mat-label>
          <input matInput [(ngModel)]="form2.function.analysisDate" [matDatepicker]="function_dp">
          <mat-datepicker-toggle matSuffix [for]="function_dp"></mat-datepicker-toggle>
          <mat-datepicker #function_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="functionFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #functionFile (change)="onUploadFile($event,'function')">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.function.files,'function')"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.function.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Electrical Value Check Result </mat-label>
          <mat-select [(ngModel)]="form2.electrical.result">
            <mat-option *ngFor="let item of option2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis By</mat-label>
          <mat-select [(ngModel)]="form2.electrical.analysisBy" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let item of PICOption" [value]="item">
              {{displayName(item)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis Date</mat-label>
          <input matInput [(ngModel)]="form2.electrical.analysisDate" [matDatepicker]="electrical_dp">
          <mat-datepicker-toggle matSuffix [for]="electrical_dp"></mat-datepicker-toggle>
          <mat-datepicker #electrical_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="electricalFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #electricalFile (change)="onUploadFile($event,'electrical')">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button
          (click)="openBottom(form2.electrical.files,'electrical')" class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.electrical.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Disassembly Check Result </mat-label>
          <mat-select [(ngModel)]="form2.disassembly.result">
            <mat-option *ngFor="let item of option2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis By</mat-label>
          <mat-select [(ngModel)]="form2.disassembly.analysisBy" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let item of PICOption" [value]="item">
              {{displayName(item)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis Date</mat-label>
          <input matInput [(ngModel)]="form2.disassembly.analysisDate" [matDatepicker]="disassembly_dp">
          <mat-datepicker-toggle matSuffix [for]="disassembly_dp"></mat-datepicker-toggle>
          <mat-datepicker #disassembly_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="disassemblyFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #disassemblyFile (change)="onUploadFile($event,'disassembly')">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button
          (click)="openBottom(form2.disassembly.files,'disassembly')" class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.disassembly.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Microscope Check Result </mat-label>
          <mat-select [(ngModel)]="form2.microscope.result">
            <mat-option *ngFor="let item of option2" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis By</mat-label>
          <mat-select [(ngModel)]="form2.microscope.analysisBy" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let item of PICOption" [value]="item">
              {{displayName(item)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis Date</mat-label>
          <input matInput [(ngModel)]="form2.microscope.analysisDate" [matDatepicker]="microscope_dp">
          <mat-datepicker-toggle matSuffix [for]="microscope_dp"></mat-datepicker-toggle>
          <mat-datepicker #microscope_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="microscopeFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #microscopeFile (change)="onUploadFile($event,'microscope')">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button
          (click)="openBottom(form2.microscope.files,'microscope')" class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.microscope.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>

      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Technical Analysis Result </mat-label>
          <input matInput [(ngModel)]="form2.technical.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Analysis Report No.</mat-label>
          <input matInput [(ngModel)]="form2.technical.analysisReportNo">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="technicalFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #technicalFile (change)="onUploadFile($event,'technical')">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.technical.files,'technical')"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.technical.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch"></div>

      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Supplier Analysis Result </mat-label>
          <mat-select [(ngModel)]="form2.supplier.result">
            <mat-option *ngFor="let item of option3" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="supplierFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #supplierFile (change)="onUploadFile($event,'supplier')">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.supplier.files,'supplier')"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.supplier.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" >
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">FAR / PNN Number </mat-label>
          <input matInput [(ngModel)]="form2.supplier.farPnnNumber">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Issue Date</mat-label>
          <input matInput [(ngModel)]="form2.supplier.issueDate" [matDatepicker]="supplierIssueDate_dp">
          <mat-datepicker-toggle matSuffix [for]="supplierIssueDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #supplierIssueDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" >
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">KTC Judgment </mat-label>
          <mat-select [(ngModel)]="form2.ktcJudgment">
            <mat-option *ngFor="let item of option3" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </div>

    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class="mt-1 pe-8">
      <button mat-raised-button color="primary" (click)="onSave()" class="btn-success" style="margin-right: 10px;">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
          <span>
            Save
          </span>
          <mat-icon class="mat-18">save</mat-icon>
        </div>
      </button>
      <!-- <button mat-raised-button color="primary" (click)="onSubmit()">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
          <span>
            Submit
          </span>
          <mat-icon class="mat-18">done_all</mat-icon>
        </div>
      </button> -->
    </div>

  </div>
</div>
