::ng-deep .label-detail > * {
  font-size: small !important;
  background-color: white !important;
  color: black !important;
}
.bf{
  border: 1px solid black;
}
.bt{
  border-top: 1px solid black;
}
.br{
  border-right: 1px solid black;
}
.bb{
  border-bottom: 1px solid black;
}
.bl{
  border-left: 1px solid black;
}
