.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  h1.name-title {
    display: none;
  }

  h1.name-title-mobile {
    display: block;
    margin-left: 8px;
    letter-spacing: 8px;
    font-size: 24px;
    font-weight: bolder;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}

/* Media query for desktop devices */
@media only screen and (min-width: 1201px) {
  h1.name-title-mobile {
    display: none;
  }

  h1.name-title {
    display: block;
    margin-left: 8px;
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: bolder;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  h1.name-title::first-letter {
    font-size: 35px;
    text-decoration: underline;
    font-family: sans-serif;
  }
}

@media only screen and (max-width: 544px) {
  .title-img {
    height: 50px;
  }

  h1.name-title-mobile {
    margin-left: 8px;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bolder;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }



  .title-sub-menu {
    display: block;
  }
  .title-main-menu{
    display: none !important;
  }


}

@media only screen and (min-width: 545px) {
  .title-img {
    height: 60px;
  }


  .title-sub-menu {
    display: none !important;
  }
  .title-main-menu{
    display: block;
  }
}


.dis-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

footer {
  background-color: initial;
  height: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 999;
  text-align: right;
}

::ng-deep .theme--light footer p {
  font-size: 10px;
  margin-right: 10px;
  color: #3b3b3b;
}

::ng-deep .theme--dark footer p {
  font-size: 10px;
  margin-right: 10px;
  color: #ffffff;
}


::ng-deep .theme--dark {
  .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(88 88 88);
  }

  .mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
    background-color: #999999;
  }

  .theme-toggle {
    color: #353535;
  }
}

::ng-deep .theme--light {
  .theme-toggle {
    color: #ffa02f;
  }
}
