<div style="width: 300px; height: 300px;">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch">
    <button fxFlex="30" (click)="onSelect(1)">
      Jan
    </button>
    <button fxFlex="30" (click)="onSelect(2)">
      Feb
    </button>
    <button fxFlex="30" (click)="onSelect(3)">
      Mar
    </button>
    <button fxFlex="30" (click)="onSelect(4)">
      Apr
    </button>
    <button fxFlex="30" (click)="onSelect(5)">
      May
    </button>
    <button fxFlex="30" (click)="onSelect(6)">
      Jun
    </button>
    <button fxFlex="30" (click)="onSelect(7)">
      Jul
    </button>
    <button fxFlex="30" (click)="onSelect(8)">
      Aug
    </button>
    <button fxFlex="30" (click)="onSelect(9)">
      Sep
    </button>
    <button fxFlex="30" (click)="onSelect(10)">
      Oct
    </button>
    <button fxFlex="30" (click)="onSelect(11)">
      Nov
    </button>
    <button fxFlex="30" (click)="onSelect(12)">
      Dec
    </button>
  </div>
</div>
