
// ::ng-deep .custom-form .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
// ::ng-deep .custom-form .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
// ::ng-deep .custom-form label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }
