<div class="flex justify-center items-start flex-wrap">
  <div class="flex justify-center items-start w-full">
    <app-title [title]="'Manage-Users'" class="w-full"></app-title>
  </div>
  <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5">
    <button mat-button (click)="onClickAddNewUser()" class="me-2">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5">
        <mat-icon class="mat-18">
          keyboard_return
        </mat-icon>
        <span>
          New User
        </span>
      </div>
    </button>
    <mat-form-field appearance="outline" floatLabel="always" class="flex-auto custom-form">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" #search>
    </mat-form-field>

    <div class="flex-auto"></div>
    <button mat-flat-button color="primary" class="me-2">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5">
        <mat-icon class="mat-18">
          file_download
        </mat-icon>
        <span>
          Download
        </span>
      </div>
    </button>
    <button mat-flat-button color="primary">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5">
        <mat-icon class="mat-18">
          file_upload
        </mat-icon>
        <span>
          Upload
        </span>
      </div>
    </button>
  </div>

  <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="start center">
    <table mat-table fxFlex="100" [dataSource]="dataSource" class="mat-elevation-z2">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="employeeCode">
        <th mat-header-cell *matHeaderCellDef> employeeCode </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{search.value}}"
        </td>
      </tr>
    </table>
    <mat-paginator fxFlex="100" [pageSizeOptions]="[5, 10, 20,dataSource.data.length]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>

</div>
