<div fxLayout="row wrap" fxLayoutAlign="center start" style="margin-bottom: 10rem;">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <app-title fxFlex="100" [title]="'RGAS-2'"></app-title>
  </div>
  <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
    <button mat-icon-button (click)="onFirstItem()">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="onPreviousItem()">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>

    <span class="font-black cursor-pointer me-2" *ngFor="let item of itemNumberList; let i=index"
      [ngClass]="{'text-red': itemNowNumber===i+1 }" (click)="onChooseItem(i+1)">
      {{item}}
    </span>
    <button mat-icon-button (click)="onNextItem()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    <button mat-icon-button (click)="onLastItem()">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
  </div> -->
  <div *ngIf="allItems && allItems.length>0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
    <app-form1 *ngIf="show" fxFlex="100" [(form)]="allItems[itemNowNumber-1]" (maxChange)="onMaxChange($event)"
      (formChange)="formChange()" (finishChange)="finishChange()"></app-form1>
  </div>
  <div *ngIf="allItems[itemNowNumber-1] && allItems[itemNowNumber-1]['registerNo']" fxFlex="100" fxLayout="row wrap"
    fxLayoutAlign="center start">
    <app-form2 fxFlex="100" [claim]="allItems[itemNowNumber-1]"></app-form2>
  </div>
  <!-- <div *ngIf="allItems && allItems.length>0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
    <app-form3 fxFlex="100"></app-form3>
  </div> -->
</div>
