<div fxLayout="row wrap" fxLayoutAlign="start stretch" style="width: 300px; height: 250px;">
  <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
    <mat-label>Comment</mat-label>
    <textarea id="comment" matInput rows="10" [(ngModel)]="data"></textarea>
  </mat-form-field>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <button mat-raised-button class="btn-success" (click)="onSubmit()">
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5">
        <span>
          Submit
        </span>
        <mat-icon class="mat-18">
          done_all
        </mat-icon>
      </div>
    </button>
    <button mat-raised-button class="btn-danger" (click)="onCancel()">
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5">
        <span>
          Cancel
        </span>
        <mat-icon class="mat-18">
          close
        </mat-icon>
      </div>
    </button>
  </div>
</div>
