::ng-deep .theme--light .mat-cell{
  padding: 10px;
}
::ng-deep .theme--light .mat-header-cell{
  padding: 10px;
  font-weight: 900;
  color: black;
}
::ng-deep .theme--light  .mat-column-No{
  background-color: rgb(189, 189, 189);
}
