<div fxLayout="row wrap" fxLayoutAlign="center stretch" class="mt-2 mb-4">
  <div *ngIf="form2" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Analysis Result'" class="mt-2 mb-2"></app-sub-title>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start start">

        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label>Part Receive Date</mat-label>
            <input [disabled]="true" matInput [value]="form2.partReceivingDate | date :'dd-MMM-YY'">
          </mat-form-field>

        </div>
        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">

          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label>PIC</mat-label>
            <input [disabled]="true" matInput [value]="form2.PIC?.name">
          </mat-form-field>

        </div>
        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label>RGA No.</mat-label>
            <input [disabled]="true" matInput [value]="form2.rgaNo">
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-md="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
          <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
            <mat-label>KTC Analysis Result</mat-label>
            <input [disabled]="true" matInput [value]="form2.ktcAnalysisResult">
          </mat-form-field>
        </div>

      </div>
      <div fxFlex="100" fxFlex.gt-md="65" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" class="mb-2">
          <button mat-raised-button color="primary">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5">
              <span>Print Label</span>
              <mat-icon class="mat-18">picture_as_pdf</mat-icon>
            </div>
          </button>
        </div>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" class="mb-2 p-1 ">
          <div fxLayoutAlign="start start" class="label-detail" style="width: 900px; height: 250px;">
            <div class="flex justify-center items-center bf" style="width: 250px; height: 250px;">
              <img [src]="form2.qrcode" alt="" style="width: 100%; height: 100%;">
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center stretch" class="bt br bb"
              style="width:575px; height: 250px;">
              <div fxFlex="100" fxLayoutAlign="center stretch" class="font-black bb">
                RGA TAG
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Claim no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 br">
                  Claim no.
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  RGA no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 ">
                  RGA no.
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Customer
                </div>
                <div fxFlex="85" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1">
                  Customer
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Model no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 br">
                  Model no.
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Model Name
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 ">
                  Model Name
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Product no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 br">
                  Product no.
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Site no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 ">
                  Site no.
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Lot no.
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 br">
                  Lot no.
                </div>
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Defective mode
                </div>
                <div fxFlex="35" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 ">
                  Defective mode
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="bb">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  Disposition
                </div>
                <div fxFlex="85" fxLayout="row wrap" fxLayoutAlign="start center" class="font-medium pl-1 ">
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Repair / Rework
                    </span>
                  </div>
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Claim to supplier
                    </span>
                  </div>
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Scrap
                    </span>
                  </div>
                  <div fxFlex="33" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Return to customer
                    </span>
                  </div>
                  <div fxFlex="66" fxLayoutAlign="start center">
                    <input type="checkbox" (change)="controlCheckbox($event)" class="me-2 cursor-pointer">
                    <span>
                      Other
                    </span>
                    <input [readOnly]="true" type="text" name="" id="">
                  </div>
                </div>
              </div>
              <div fxFlex="100" fxLayoutAlign="center stretch" class="">
                <div fxFlex="15" fxLayout="row wrap" fxLayoutAlign="start center" class="font-extrabold pl-1 br">
                  PIC
                </div>
                <div fxFlex="85" fxLayout="row wrap" fxLayoutAlign="center center" class="font-medium ">
                  <span>
                    {{labelShowPIC()}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="20">
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Appearance Check Result </mat-label>
          <input [disabled]="true" matInput [value]="form2.appearance?.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis By</mat-label>
          <input [disabled]="true" matInput [value]="displayName(form2.appearance?.analysisBy)">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis Date</mat-label>
          <input [disabled]="true" matInput [value]="form2.appearance?.analysisDate | date :'dd-MMM-YY'">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.appearance?.files)"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.appearance?.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Function Check Result </mat-label>
          <input [disabled]="true" matInput [value]="form2.function?.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis By</mat-label>
          <input [disabled]="true" matInput [value]="displayName(form2.function?.analysisBy)">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis Date</mat-label>
          <input [disabled]="true" matInput [value]="form2.function?.analysisDate  | date :'dd-MMM-YY'">
        </mat-form-field>
      </div>
      <div fxFlex=" 100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.function?.files)"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.function?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Electrical Value Check Result </mat-label>
          <input [disabled]="true" matInput [value]="form2.electrical?.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis By</mat-label>
          <input [disabled]="true" matInput [value]="displayName(form2.electrical?.analysisBy)">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis Date</mat-label>
          <input [disabled]="true" matInput [value]="form2.electrical?.analysisDate  | date :'dd-MMM-YY'">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.electrical?.files)"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.electrical?.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Disassembly Check Result </mat-label>
          <input [disabled]="true" matInput [value]="form2.disassembly?.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis By</mat-label>
          <input [disabled]="true" matInput [value]="form2.disassembly?.analysisBy?.name">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis Date</mat-label>
          <input [disabled]="true" matInput [value]="form2.disassembly?.analysisDate  | date :'dd-MMM-YY'">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.disassembly?.files)"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.disassembly?.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Microscope Check Result </mat-label>
          <input [disabled]="true" matInput [value]="form2.microscope?.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis By</mat-label>
          <input [disabled]="true" matInput [value]="displayName(form2.microscope?.analysisBy)">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis Date</mat-label>
          <input [disabled]="true" matInput [value]="form2.microscope?.analysisDate  | date :'dd-MMM-YY'">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.microscope?.files)"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.microscope?.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Technical Analysis Result </mat-label>
          <input [disabled]="true" matInput [value]="form2.technical?.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Analysis Report No.</mat-label>
          <input [disabled]="true" matInput [value]="form2.technical?.analysisReportNo">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.technical?.files)"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.technical?.files)"
              matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch"></div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Supplier Analysis Result </mat-label>
          <input [disabled]="true" matInput [value]="form2.supplier?.result">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form2.supplier?.files)"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(form2.supplier?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>FAR / PNN Number </mat-label>
          <input [disabled]="true" matInput [value]="form2.supplier?.farPnnNumber">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Issue Date</mat-label>
          <input [disabled]="true" matInput [value]="form2.supplier?.issueDate  | date :'dd-MMM-YY'">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>KTC Judgment </mat-label>
          <input [disabled]="true" matInput [value]="form2.ktcJudgment">
        </mat-form-field>

      </div>

    </div>



  </div>
</div>
