<div class="flex flex-wrap justify-center items-start w-full mt-1">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Report'" class="mt-2 mb-2"></app-sub-title>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" class="me-8  p-2 rounded-md"
      [class]="cssTagReportStatus(form.preReport.status)">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Pre Report
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Due Date</mat-label>
        <input matInput [(ngModel)]="form.preReport.dueDate" [matDatepicker]="preReportDueDate_dp">
        <mat-datepicker-toggle matSuffix [for]="preReportDueDate_dp"></mat-datepicker-toggle>
        <mat-datepicker #preReportDueDate_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Date Submit To Customer</mat-label>
        <input matInput [(ngModel)]="form.preReport.dateSubmitToCustomer"
          [matDatepicker]="preReportDateSubmitToCustomer_dp">
        <mat-datepicker-toggle matSuffix [for]="preReportDateSubmitToCustomer_dp"></mat-datepicker-toggle>
        <mat-datepicker #preReportDateSubmitToCustomer_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-1">

      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="preReportFile.click()"
        class="btn-file">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            Files
          </span>
          <mat-icon>file_upload</mat-icon>
        </div>
        <input type="file" hidden #preReportFile (change)="onUploadFile($event,'preReport')">
      </button>
      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form.preReport.files,'preReport')"
        class="btn-file" [ngClass.gt-md]="'m-btn-l'">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            View
          </span>
          <mat-icon [matBadge]="controlBadgeNumber(form.preReport.files)" matBadgeColor="warn">attach_file</mat-icon>
        </div>
      </button>

    </div>
    <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
        <button *ngIf="form.preReport._id" mat-raised-button color="primary" style="margin-left: 5px;"
          (click)="onApproveChange('preReport')">
          <mat-icon>send</mat-icon>
        </button>
        <button *ngIf="!form.preReport._id" [disabled]="form.preReport?.files?.length==0" mat-raised-button
          color="primary" class="btn-success" style="margin-left: 5px;" (click)="onSubmitReport('preReport')">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let interim of form.interims; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center"
        class="me-8 p-2 rounded-md"  [class]="cssTagReportStatus(interim.status)">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon class="mat-18 me-2">topic</mat-icon>
          <span class="font-black text-label">
            Interim Report
          </span>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Due Date</mat-label>
          <input matInput [(ngModel)]="interim.dueDate" [matDatepicker]="interimDueDate_dp">
          <mat-datepicker-toggle matSuffix [for]="interimDueDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #interimDueDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Date Submit To Customer</mat-label>
          <input matInput [(ngModel)]="interim.dateSubmitToCustomer" [matDatepicker]="interimDateSubmitToCustomer_dp">
          <mat-datepicker-toggle matSuffix [for]="interimDateSubmitToCustomer_dp"></mat-datepicker-toggle>
          <mat-datepicker #interimDateSubmitToCustomer_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-1">

        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="interimFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #interimFile (change)="onUploadFileArr($event,'interims',i)">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(interim.files,'preReport')"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(interim?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>

      </div>
      <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
          <button *ngIf="i!==0" mat-raised-button color="warn" (click)="onClickDeleteArr('interims',i)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>

          <button *ngIf="interim?._id" mat-raised-button color="primary" style="margin-left: 5px;"
            (click)="onApproveChangeArr('interims',i)">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="!interim?._id" [disabled]="interim.files?.length==0" mat-raised-button color="primary"
            class="btn-success" style="margin-left: 5px;" (click)="onSubmitReportArrChange('interims',i)">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="form.interims.length== i+1 " mat-raised-button class="btn-success" style="margin-top: 10px;"
        (click)="onAddNewInterim()"><mat-icon>add</mat-icon>
      </button>

    </div>

  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center"
      class="me-8 p-2 rounded-md" [class]="cssTagReportStatus(form.finalReport.status)">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Final report
          <span class="text-label-sub">
            (Date submit to customer)
          </span>
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Due Date</mat-label>
        <input matInput [(ngModel)]="form.finalReport.dueDate" [matDatepicker]="finalReportDueDate_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportDueDate_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportDueDate_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Date Submit To Customer</mat-label>
        <input matInput [(ngModel)]="form.finalReport.dateSubmitToCustomer"
          [matDatepicker]="finalReportDateSubmitToCustomer_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportDateSubmitToCustomer_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportDateSubmitToCustomer_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-1">


      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="finalReportFile.click()"
        class="btn-file">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            Files
          </span>
          <mat-icon>file_upload</mat-icon>
        </div>
        <input type="file" hidden #finalReportFile (change)="onUploadFile($event,'finalReport')">
      </button>
      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form.finalReport.files,'preReport')"
        class="btn-file" [ngClass.gt-md]="'m-btn-l'">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            View
          </span>
          <mat-icon [matBadge]="controlBadgeNumber(form.finalReport?.files)" matBadgeColor="warn">attach_file</mat-icon>
        </div>
      </button>

    </div>
    <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
        <ng-container *ngIf="form.finalReport._id; else elseTemplate">
          <button mat-raised-button color="primary" style="margin-left: 5px;" (click)="onApproveChange('finalReport')">
            <mat-icon>send</mat-icon>
          </button>
        </ng-container>
        <ng-template #elseTemplate>
          <button [disabled]="form.finalReport?.files?.length==0" mat-raised-button color="primary" class="btn-success"
            style="margin-left: 5px;" (click)="onSubmitReport('finalReport')">
            <mat-icon>save</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center"
      class="me-8 p-2 rounded-md" [class]="cssTagReportStatus(form.finalReportOBL.status)">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Final report
          <span class="text-label-sub">
            (Date up load in OBL III)
          </span>
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Due Date</mat-label>
        <input matInput [(ngModel)]="form.finalReportOBL.dueDate" [matDatepicker]="finalReportOBLDueDate_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportOBLDueDate_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportOBLDueDate_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
        <mat-label>Date To Upload</mat-label>
        <input matInput [(ngModel)]="form.finalReportOBL.dateSubmitToCustomer"
          [matDatepicker]="finalReportOBLDateSubmitToCustomer_dp">
        <mat-datepicker-toggle matSuffix [for]="finalReportOBLDateSubmitToCustomer_dp"></mat-datepicker-toggle>
        <mat-datepicker #finalReportOBLDateSubmitToCustomer_dp></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-1">

      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="finalReportOBLFile.click()"
        class="btn-file">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            Files
          </span>
          <mat-icon>file_upload</mat-icon>
        </div>
        <input type="file" hidden #finalReportOBLFile (change)="onUploadFile($event,'finalReportOBL')">
      </button>
      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button
        (click)="openBottom(form.finalReportOBL.files,'preReport')" class="btn-file" [ngClass.gt-md]="'m-btn-l'">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            View
          </span>
          <mat-icon [matBadge]="controlBadgeNumber(form.finalReportOBL?.files)"
            matBadgeColor="warn">attach_file</mat-icon>
        </div>
      </button>

    </div>
    <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
        <ng-container *ngIf="form.finalReportOBL._id; else elseTemplate">
          <button mat-raised-button color="primary" style="margin-left: 5px;"
            (click)="onApproveChange('finalReportOBL')">
            <mat-icon>send</mat-icon>
          </button>
        </ng-container>
        <ng-template #elseTemplate>
          <button [disabled]="form.finalReportOBL?.files?.length==0" mat-raised-button color="primary"
            class="btn-success" style="margin-left: 5px;" (click)="onSubmitReport('finalReportOBL')">
            <mat-icon>save</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let questionAnswer of form.questionAnswers; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center"
        class="me-8 p-2 rounded-md" [class]="cssTagReportStatus(questionAnswer.status)">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon class="mat-18 me-2">topic</mat-icon>
          <span class="font-black text-label">
            Question & Answer
          </span>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Due Date</mat-label>
          <input matInput [(ngModel)]="questionAnswer.dueDate" [matDatepicker]="questionAnswerDueDate_dp">
          <mat-datepicker-toggle matSuffix [for]="questionAnswerDueDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #questionAnswerDueDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" appearance="outline" floatLabel="always">
          <mat-label>Date Submit To Customer</mat-label>
          <input matInput [(ngModel)]="questionAnswer.dateSubmitToCustomer"
            [matDatepicker]="questionAnswerDueSubmitToCustomer_dp">
          <mat-datepicker-toggle matSuffix [for]="questionAnswerDueSubmitToCustomer_dp"></mat-datepicker-toggle>
          <mat-datepicker #questionAnswerDueSubmitToCustomer_dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-1">



        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="questionAnswerFile.click()"
          class="btn-file">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #questionAnswerFile (change)="onUploadFileArr($event,'questionAnswers',i)">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(questionAnswer.files,'preReport')"
          class="btn-file" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(questionAnswer?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>

      </div>

      <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center">
          <button *ngIf="i!==0" mat-raised-button color="warn" (click)="onClickDeleteArr('questionAnswers',i)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>

          <button *ngIf="questionAnswer?._id" mat-raised-button color="primary" style="margin-left: 5px;"
            (click)="onApproveChangeArr('questionAnswers',i)">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="!questionAnswer?._id" [disabled]="questionAnswer?.files?.length==0" mat-raised-button
            color="primary" class="btn-success" style="margin-left: 5px;"
            (click)="onSubmitReportArrChange('questionAnswers',i)">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>


    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="form.questionAnswers.length== i+1 " mat-raised-button class="btn-success" style="margin-top: 10px;"
        (click)="onAddNewQuestionAnswer()"><mat-icon>add</mat-icon>
      </button>

    </div>

  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>NG</mat-label>
        <input matInput [(ngModel)]="form.ng">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Defect phenomenon (Major classification)</mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of defectPhenomenonOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Defect details classification (5M1E)</mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of m1eDefectDetailOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Not accepted</mat-label>
        <input matInput [(ngModel)]="form.ng">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Detailed phenomenon (Middle classification) </mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of detailedPhenomenonOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Defect cause classification (5M1E)</mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of m1eCauseDetailOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>No abnormality</mat-label>
        <input matInput [(ngModel)]="form.ng">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Cause (Minor classification) </mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of causeOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Rule 3-principle ※ Occurrence</mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of occurrenceOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Within spec</mat-label>
        <input matInput [(ngModel)]="form.ng">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Occurrence process category </mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of lcdBOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Rule 3-principle ※ Outflow</mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of principleCOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Not recurred</mat-label>
        <input matInput [(ngModel)]="form.ng">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Occurrence process category details </mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of lcdCOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>IATF no.</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Difference between Report and Real cause</mat-label>
        <input matInput>
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Maker name </mat-label>
        <mat-select [compareWith]="objectComparisonFunction">
          <mat-option *ngFor="let item of scdCOption" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Caused by Customer </mat-label>
        <input matInput>
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Out of Warranty by Customer </mat-label>
        <input matInput>
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Root cause </mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngFor="let rootCauseAction of form.rootCauseActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Root cause action </mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Effective date</mat-label>
          <input matInput [matDatepicker]="rootCauseActionEffectiveDate_dp">
          <mat-datepicker-toggle matSuffix [for]="rootCauseActionEffectiveDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #rootCauseActionEffectiveDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="form.rootCauseActions.length== i+1 " mat-raised-button class="btn-success"
        style="margin-top: 10px;" (click)="onAddNewRootCauseAction()"><mat-icon>add</mat-icon>
      </button>

    </div>
  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label>Leak cause </mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngFor="let leakCauseAction of form.leakCauseActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-8">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Root cause action </mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label>Effective date</mat-label>
          <input matInput [matDatepicker]="leakCauseActionEffectiveDate_dp">
          <mat-datepicker-toggle matSuffix [for]="leakCauseActionEffectiveDate_dp"></mat-datepicker-toggle>
          <mat-datepicker #leakCauseActionEffectiveDate_dp></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="form.leakCauseActions.length== i+1 " mat-raised-button class="btn-success"
        style="margin-top: 10px;" (click)="onAddNewLeakCauseAction()"><mat-icon>add</mat-icon>
      </button>

    </div>
  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class="mt-1 pe-8">
    <button mat-raised-button color="primary" (click)="onSave()" class="btn-file" style="margin-right: 10px;">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
        <span>
          Save
        </span>
        <mat-icon class="mat-18">save</mat-icon>
      </div>
    </button>
    <!-- <button mat-raised-button color="primary" (click)="onSubmit()">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
        <span>
          Submit
        </span>
        <mat-icon class="mat-18">done_all</mat-icon>
      </div>
    </button> -->
  </div>

</div>
