<div class="flex flex-wrap justify-center items-start w-full mt-1">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Report'" class="mt-2 mb-2"></app-sub-title>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
      class="p-2 rounded-md" [class]="cssTagReportStatus(form.preReport.status)">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Pre Report
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <app-date-picker-custom fxFlex="100" [title]="'Due Date'" [(date)]="form.preReport.dueDate"
        (dateChange)="emitAutoSaveByKey('preReport')"></app-date-picker-custom>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <app-date-picker-custom fxFlex="100" [title]="'Date Submit To Customer'"
        [(date)]="form.preReport.dateSubmitToCustomer"
        (dateChange)="emitAutoSaveByKey('preReport')"></app-date-picker-custom>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">

      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="preReportFile.click()"
        class="btn-file btn-radius">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            Files
          </span>
          <mat-icon>file_upload</mat-icon>
        </div>
        <input type="file" hidden #preReportFile (change)="onUploadFile($event,'preReport')">
      </button>
      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form.preReport.files,'preReport')"
        class="btn-file btn-radius" [ngClass.gt-md]="'m-btn-l'">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            View
          </span>
          <mat-icon [matBadge]="controlBadgeNumber(form.preReport.files)" matBadgeColor="warn">attach_file</mat-icon>
        </div>
      </button>

    </div>
    <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <ng-container *ngIf="form.preReport.status =='finish'">
          <button mat-icon-button color="primary" style="margin-left: 5px;" (click)="onSubmitReport('preReport')"
            title="save">
            <mat-icon>save</mat-icon>
          </button>
        </ng-container>
        <button *ngIf="!form.preReport._id" [disabled]="form.preReport?.files?.length==0" mat-icon-button
          color="primary" style="margin-left: 5px;" (click)="onSubmitReport('preReport')" title="save">
          <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="form.preReport._id" mat-icon-button color="primary" style="margin-left: 5px;"
          (click)="onApproveChange('preReport')" title="send & approve">
          <mat-icon>send</mat-icon>
        </button>

      </div>
    </div>
  </div>

  <ng-container *ngFor="let interim of form.interims; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
        class="p-2 rounded-md" [class]="cssTagReportStatus(interim.status)">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon class="mat-18 me-2">topic</mat-icon>
          <span class="font-black text-label">
            Interim Report
          </span>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <app-date-picker-custom fxFlex="100" [title]="'Due Date'" [(date)]="interim.dueDate"
          (dateChange)="emitAutoSaveByKeyArr('interims',i)"></app-date-picker-custom>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <app-date-picker-custom fxFlex="100" [title]="'Date Submit To Customer'" [(date)]="interim.dateSubmitToCustomer"
          (dateChange)="emitAutoSaveByKeyArr('interims',i)"></app-date-picker-custom>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">

        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="interimFile.click()"
          class="btn-file btn-radius">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #interimFile (change)="onUploadFileArr($event,'interims',i)">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(interim.files,'preReport')"
          class="btn-file btn-radius" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(interim?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>

      </div>
      <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">

          <ng-container *ngIf="interim.status =='finish'">
            <button mat-icon-button color="primary" title="save" style="margin-left: 5px;"
              (click)="onSubmitReportArrChange('interims',i)">
              <mat-icon>save</mat-icon>
            </button>
          </ng-container>
          <button *ngIf="!interim?._id" [disabled]="interim.files?.length==0" mat-icon-button color="primary"
            title="save" style="margin-left: 5px;" (click)="onSubmitReportArrChange('interims',i)">
            <mat-icon>save</mat-icon>
          </button>
          <button *ngIf="interim?._id" mat-icon-button color="primary" style="margin-left: 5px;"
            (click)="onApproveChangeArr('interims',i)" title="send & approve">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="i!==0" mat-icon-button color="warn" (click)="onClickDeleteArr('interims',i)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>


        </div>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="form.interims.length== i+1" color="primary" mat-icon-button style="margin-top: 10px;"
        (click)="onAddNewInterim()"><mat-icon>add</mat-icon>
      </button>
    </div>

  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-8">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
      class="p-2 rounded-md" [class]="cssTagReportStatus(form.finalReport.status)">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Final report
          <span class="text-label-sub">
            (Date submit to customer)
          </span>
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <app-date-picker-custom fxFlex="100" [title]="'Due Date'" [(date)]="form.finalReport.dueDate"
        (dateChange)="emitAutoSaveByKey('finalReport')"></app-date-picker-custom>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <app-date-picker-custom fxFlex="100" [title]="'Date Submit To Customer'"
        [(date)]="form.finalReport.dateSubmitToCustomer"
        (dateChange)="emitAutoSaveByKey('finalReport')"></app-date-picker-custom>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">


      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="finalReportFile.click()"
        class="btn-file btn-radius">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            Files
          </span>
          <mat-icon>file_upload</mat-icon>
        </div>
        <input type="file" hidden #finalReportFile (change)="onUploadFile($event,'finalReport')">
      </button>
      <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(form.finalReport.files,'preReport')"
        class="btn-file btn-radius" [ngClass.gt-md]="'m-btn-l'">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <span>
            View
          </span>
          <mat-icon [matBadge]="controlBadgeNumber(form.finalReport?.files)" matBadgeColor="warn">attach_file</mat-icon>
        </div>
      </button>

    </div>
    <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <ng-container *ngIf="form.finalReport.status =='finish'">
          <button mat-icon-button color="primary" style="margin-left: 5px;" (click)="onSubmitReport('finalReport')">
            <mat-icon>save</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="!form.finalReport._id; else elseTemplate">
          <button [disabled]="form.finalReport?.files?.length==0" mat-icon-button color="primary"
            style="margin-left: 5px;" (click)="onSubmitReport('finalReport')">
            <mat-icon>save</mat-icon>
          </button>
        </ng-container>
        <ng-template #elseTemplate>
          <button mat-icon-button color="primary" style="margin-left: 5px;" (click)="onApproveChange('finalReport')">
            <mat-icon>send</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
      class="p-2 rounded-md" [class]="cssTagReportStatus(form.finalReportOBL.status)">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-icon class="mat-18 me-2">topic</mat-icon>
        <span class="font-black text-label">
          Final report
          <span class="text-label-sub">
            (Date up load in OBL III)
          </span>
        </span>
      </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <app-date-picker-custom fxFlex="100" [title]="'Due Date'" [(date)]="form.finalReportOBL.dueDate"
        (dateChange)="emitAutoSaveByKey('finalReportOBL')"></app-date-picker-custom>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <app-date-picker-custom fxFlex="100" [title]="'Date To Upload'"
        [(date)]="form.finalReportOBL.dateSubmitToCustomer"
        (dateChange)="emitAutoSaveByKey('finalReportOBL')"></app-date-picker-custom>
    </div>
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-1'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">PIC</mat-label>
        <mat-select [(ngModel)]="form.finalReportOBL.PIC" [compareWith]="objectComparisonFunction"
          (blur)="emitAutoSaveByKey('finalReportOBL')">
          <mat-option *ngFor="let item of PICOption" [value]="item">
            {{displayName(item)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <button mat-icon-button color="primary" style="margin-left: 5px;" (click)="onSubmitReport('finalReportOBL')">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let questionAnswer of form.questionAnswers; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start center" [ngClass.gt-md]="'me-8'"
        class="p-2 rounded-md" [class]="cssTagReportStatus(questionAnswer.status)">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon class="mat-18 me-2">topic</mat-icon>
          <span class="font-black text-label">
            Question & Answer
          </span>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <app-date-picker-custom fxFlex="100" [title]="'Due Date'" [(date)]="questionAnswer.dueDate"
          (dateChange)="emitAutoSaveByKeyArr('questionAnswers',i)"></app-date-picker-custom>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <app-date-picker-custom fxFlex="100" [title]="'Date Submit To Customer'"
          [(date)]="questionAnswer.dateSubmitToCustomer"
          (dateChange)="emitAutoSaveByKeyArr('questionAnswers',i)"></app-date-picker-custom>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="me-1">



        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button color="accent" (click)="questionAnswerFile.click()"
          class="btn-file btn-radius">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              Files
            </span>
            <mat-icon>file_upload</mat-icon>
          </div>
          <input type="file" hidden #questionAnswerFile (change)="onUploadFileArr($event,'questionAnswers',i)">
        </button>
        <button fxFlex="100" fxFlex.gt-md="45" mat-raised-button (click)="openBottom(questionAnswer.files,'preReport')"
          class="btn-file btn-radius" [ngClass.gt-md]="'m-btn-l'">
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <span>
              View
            </span>
            <mat-icon [matBadge]="controlBadgeNumber(questionAnswer?.files)" matBadgeColor="warn">attach_file</mat-icon>
          </div>
        </button>

      </div>

      <div fxFlex="100" fxFlex.gt-md="10" fxLayout="row wrap" fxLayoutAlign="start stretch">
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
          <button *ngIf="i!==0" mat-icon-button color="warn" (click)="onClickDeleteArr('questionAnswers',i)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
          <ng-container *ngIf="questionAnswer.status =='finish'">
            <button mat-icon-button color="primary" style="margin-left: 5px;"
              (click)="onSubmitReportArrChange('questionAnswers',i)">
              <mat-icon>save</mat-icon>
            </button>
          </ng-container>
          <button *ngIf="questionAnswer?._id" mat-icon-button color="primary" style="margin-left: 5px;"
            (click)="onApproveChangeArr('questionAnswers',i)">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="!questionAnswer?._id" [disabled]="questionAnswer?.files?.length==0" mat-icon-button
            color="primary" style="margin-left: 5px;" (click)="onSubmitReportArrChange('questionAnswers',i)">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>


    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="form.questionAnswers.length== i+1 " mat-icon-button color="primary" style="margin-top: 10px;"
        (click)="onAddNewQuestionAnswer()"><mat-icon>add</mat-icon>
      </button>

    </div>

  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <app-sub-title fxFlex="100" [title]="'Report Information'" class="mt-2 mb-2"></app-sub-title>
  </div>

  <h1 hidden>REPORT INFORMATION</h1>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">NG</mat-label>
        <input matInput type="number" [(ngModel)]="reportInformation.ng.qty" (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Defect phenomenon (Major classification)'"
        [options]="dcdOption1" [(myControl)]="dcdForm1"
        (myControlChange)="onChangeAutoComplete2($event,'ng','value1'); onChangeDcd1();emitAutoSaveInformation()"></app-autocomplete2>

    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">

      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Defect details classification (5M1E)'"
        [options]="m1eOption1" [(myControl)]="m1eForm1"
        (myControlChange)="onChangeAutoComplete2($event,'ng','value2'); onChangeM1e1();emitAutoSaveInformation()"></app-autocomplete2>

    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Not accepted</mat-label>
        <input matInput type="number" [(ngModel)]="reportInformation.notAccepted.qty"
          (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100"
        [title]="'Detailed phenomenon (Middle classification)'" [options]="dcdOption2" [(myControl)]="dcdForm2"
        (myControlChange)="onChangeAutoComplete2($event,'notAccepted','value1');onChangeDcd2();emitAutoSaveInformation()"></app-autocomplete2>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">


      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Defect cause classification (5M1E)'"
        [options]="m1eOption2" [(myControl)]="m1eForm2"
        (myControlChange)="onChangeAutoComplete2($event,'notAccepted','value2'); onChangeM1e2();emitAutoSaveInformation()"></app-autocomplete2>

    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">No abnormality</mat-label>
        <input matInput type="number" [(ngModel)]="reportInformation.noAbnormality.qty"
          (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Cause (Minor classification)'"
        [options]="dcdOption3" [(myControl)]="dcdForm3"
        (myControlChange)="onChangeAutoComplete2($event,'noAbnormality','value1'); onChangeDcd3();emitAutoSaveInformation()"></app-autocomplete2>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">

      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Rule 3-principle ※ Occurrence'"
        [options]="principleOption1" [(myControl)]="principleForm1"
        (myControlChange)="onChangeAutoComplete2($event,'noAbnormality','value2'); onChangePrinciple1();emitAutoSaveInformation()"></app-autocomplete2>

    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Within spec</mat-label>
        <input matInput type="number" [(ngModel)]="reportInformation.withinSpec.qty" (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Occurrence process category'"
        [options]="lcdOption1" [(myControl)]="lcdForm1"
        (myControlChange)="onChangeAutoComplete2($event,'withinSpec','value1'); onChangeLcd1();emitAutoSaveInformation()"></app-autocomplete2>

    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">



      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Rule 3-principle ※ Outflow'"
        [options]="principleOption2" [(myControl)]="principleForm2"
        (myControlChange)="onChangeAutoComplete2($event,'withinSpec','value2'); onChangePrinciple2();emitAutoSaveInformation()"></app-autocomplete2>

    </div>
  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Not recurred</mat-label>
        <input matInput type="number" [(ngModel)]="reportInformation.notRecurred.qty"
          (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Occurrence process category details'"
        [options]="lcdOption2" [(myControl)]="lcdForm2"
        (myControlChange)="onChangeAutoComplete2($event,'notRecurred','value1'); onChangeLcd2();emitAutoSaveInformation()"></app-autocomplete2>

    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">IATF no.</mat-label>
        <input matInput [(ngModel)]="reportInformation.notRecurred.value2" (blur)="emitAutoSaveInformation()">
      </mat-form-field>
    </div>
  </div>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Difference between Report and Real cause</mat-label>
        <input matInput type="number" [(ngModel)]="reportInformation.difference.qty" (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxFlex.gt-md="30" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">

      <app-autocomplete2 *ngIf="refreshAutocomplete" fxFlex="100" [title]="'Maker name'" [options]="scdOption1"
        [(myControl)]="scdForm1"
        (myControlChange)="onChangeAutoComplete2($event,'difference','value1'); emitAutoSaveInformation()"></app-autocomplete2>
    </div>

  </div>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Caused by Customer </mat-label>
        <input matInput [(ngModel)]="reportInformation.causeByCustomer" (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Out of Warranty by Customer </mat-label>
        <input matInput [(ngModel)]="reportInformation.outWarranty" (blur)="emitAutoSaveInformation()">
        <span matSuffix>pcs</span>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Root cause </mat-label>
        <input matInput [(ngModel)]="reportInformation.rootCause" (blur)="emitAutoSaveInformation()">
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngFor="let rootCauseAction of reportInformation.rootCauseActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Root cause action </mat-label>
          <input matInput [(ngModel)]="rootCauseAction.value" (blur)="emitAutoSaveInformation()">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <app-date-picker-custom fxFlex="100" [title]="'Effective date'" [(date)]="rootCauseAction.date"
          (dateChange)="emitAutoSaveInformation()"></app-date-picker-custom>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="reportInformation.rootCauseActions.length== i+1 " mat-icon-button color="primary"
        style="margin-top: 10px;" (click)="onAddNewRootCauseAction()"><mat-icon>add</mat-icon>
      </button>

    </div>
  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Leak cause </mat-label>
        <input matInput [(ngModel)]="reportInformation.leakCause" (blur)="emitAutoSaveInformation()">
      </mat-form-field>
    </div>
  </div>

  <ng-container *ngFor="let leakCauseAction of reportInformation.leakCauseActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Leak cause action </mat-label>
          <input matInput [(ngModel)]="leakCauseAction.value" (blur)="emitAutoSaveInformation()">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <app-date-picker-custom fxFlex="100" [title]="'Effective date'" [(date)]="leakCauseAction.date"
          (dateChange)="emitAutoSaveInformation()"></app-date-picker-custom>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="reportInformation.leakCauseActions.length== i+1 " mat-icon-button color="primary"
        style="margin-top: 10px;" (click)="onAddNewLeakCauseAction()"><mat-icon>add</mat-icon>
      </button>

    </div>
  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Internal root cause </mat-label>
        <input matInput [(ngModel)]="reportInformation.internal" (blur)="emitAutoSaveInformation()">
      </mat-form-field>
    </div>
  </div>


  <ng-container *ngFor="let internalAction of reportInformation.internalActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Internal root cause action </mat-label>
          <input matInput [(ngModel)]="internalAction.value">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <app-date-picker-custom fxFlex="100" [title]="'Effective date'" [(date)]="internalAction.date"
          (dateChange)="emitAutoSaveInformation()"></app-date-picker-custom>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="reportInformation.internalActions.length== i+1 " mat-icon-button color="primary"
        style="margin-top: 10px;" (click)="onAddNewInternalCauseAction()"><mat-icon>add</mat-icon>
      </button>

    </div>
  </ng-container>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
    <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" class>
      <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
        <mat-label class="mat-label-custom">Internal leak cause </mat-label>
        <input matInput [(ngModel)]="reportInformation.internalLeak" (blur)="emitAutoSaveInformation()">
      </mat-form-field>
    </div>
  </div>


  <ng-container *ngFor="let internalLeakAction of reportInformation.internalLeakActions; let i=index">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch" class="mt-1">
      <div fxFlex="100" fxFlex.gt-md="52" fxLayout="row wrap" fxLayoutAlign="start stretch" [ngClass.gt-md]="'me-8'">
        <mat-form-field fxFlex="100" fxFlex.gt-md="100" appearance="outline" floatLabel="always">
          <mat-label class="mat-label-custom">Internal leak cause action </mat-label>
          <input matInput [(ngModel)]="internalLeakAction.value" (blur)="emitAutoSaveInformation()">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-md="20" fxLayout="row wrap" fxLayoutAlign="start stretch" class="">
        <app-date-picker-custom fxFlex="100" [title]="'Effective date'" [(date)]="internalLeakAction.date"
          (dateChange)="emitAutoSaveInformation()"></app-date-picker-custom>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button *ngIf="reportInformation.internalLeakActions.length== i+1 " mat-icon-button color="primary"
        style="margin-top: 10px;" (click)="onAddNewInternalLeakCauseAction()"><mat-icon>add</mat-icon>
      </button>

    </div>
  </ng-container>


  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" class="mt-1 pe-8">
    <button mat-raised-button color="primary" (click)="onSaveReportInformation()" class="btn-file btn-radius"
      style="margin-right: 10px;">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10">
        <span>
          Save
        </span>
        <mat-icon class="mat-18">save</mat-icon>
      </div>
    </button>

  </div>

</div>
