<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="10">
    <app-year-month [title]="'Claim Register Date Start'" [(dateInput)]="date.start" [max]="date.end"></app-year-month>
    <app-year-month [title]="'Claim Register Date End'" [(dateInput)]="date.end" [min]="date.start"></app-year-month>
    <button mat-raised-button (click)="onSubmit()" color="primary" class="btn-radius" ><mat-icon>search</mat-icon></button>
    <div fxFlex="auto"></div>
    <button [disabled]="selection.selected.length===0" mat-raised-button color="primary" class="btn-success btn-radius"
      (click)="onExportKC_DC()">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="5">
        <span>Export KC-DC</span>
        <mat-icon class="mat-18">description</mat-icon>
      </div>
    </button>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" class="m-4 mb-8">
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between start" class="overflow-auto">
      <table fxFlex="100" mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-custom">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="registerNo">
          <th mat-header-cell *matHeaderCellDef> register No </th>
          <td mat-cell *matCellDef="let row">
            <span class="text-link" (click)="onClickClaim(row)">
              {{row.registerNo}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> Page no. </th>
          <td mat-cell *matCellDef="let row"> {{row.no}} </td>
        </ng-container>

        <ng-container matColumnDef="docStatus">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let row" class="font-bold capitalize " [class]="cssStatus(row.docStatus)"
            style="text-wrap: nowrap;"> {{row.docStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="PIC">
          <th mat-header-cell *matHeaderCellDef> PIC </th>
          <td mat-cell *matCellDef="let row" class="font-bold" style="text-wrap: nowrap;"> {{row.PIC}} </td>
        </ng-container>

        <ng-container matColumnDef="claimMonth">
          <th mat-header-cell *matHeaderCellDef> Claim Month </th>
          <td mat-cell *matCellDef="let row"> {{row.claimMonth}} </td>
        </ng-container>

        <ng-container matColumnDef="claimNo">
          <th mat-header-cell *matHeaderCellDef> Claim No </th>
          <td mat-cell *matCellDef="let row" class="font-bold"> {{row.claimNo}} </td>
        </ng-container>

        <ng-container matColumnDef="modelNo">
          <th mat-header-cell *matHeaderCellDef> Model No </th>
          <td mat-cell *matCellDef="let row"> {{row.modelNo}} </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Customer Name </th>
          <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
        </ng-container>

        <ng-container matColumnDef="occurredLocation">
          <th mat-header-cell *matHeaderCellDef> Occurred Location </th>
          <td mat-cell *matCellDef="let row"> {{row.occurredLocation}} </td>
        </ng-container>

        <ng-container matColumnDef="defect">
          <th mat-header-cell *matHeaderCellDef> Defect </th>
          <td mat-cell *matCellDef="let row"> {{row.defect}} </td>
        </ng-container>

        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Q'ty </th>
          <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
        </ng-container>

        <ng-container matColumnDef="lotNo">
          <th mat-header-cell *matHeaderCellDef> Lot No. </th>
          <td mat-cell *matCellDef="let row"> {{row.lotNo}} </td>
        </ng-container>

        <ng-container matColumnDef="judgment">
          <th mat-header-cell *matHeaderCellDef> Judgment </th>
          <td mat-cell *matCellDef="let row"> {{row.judgment}} </td>
        </ng-container>

        <ng-container matColumnDef="returnStyle">
          <th mat-header-cell *matHeaderCellDef> Return Style </th>
          <td mat-cell *matCellDef="let row" class="text-nowrap"> {{row.returnStyle}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>


  </div>
</div>
